<article>
  <div class="title">FAQ</div>
  <div class="block">
    <p>はい、お待ちかねの質問タイム。ここに載せてある質問はよくきかれるやつなんで、これ以外の質問があるかたは、<a
      href="mailto:contact@worldintwelve.com">contact@worldintwelve.com</a>までお願いします！</p>
  </div>
  <div class="block">
    <p>
    <em>Q: 何で「12」なの?</em><br>
    A:簡単にいうと、「キリがいいから」(笑)。もともと性格的に「キリがいいもの」が好きで、このプロジェクトを思い立った時、資金的にも時間的にも最大1年がマックスだと考えていた。そこで「一か月ごとに住む」となると、12ケ月になり、「12」という数字自体はキリがよくしっくりきた。　この質問は本当によく受けるのだが、ヤマトと話していた時に、同時に「なぜいろいろなものは12に分けられているのか」という疑問もあがった。1年=12ケ月、午前午後=各12時間、干支=12匹、1フット=12インチ、音階も♯・♭を入れると12あるし...探し始めればきりがない。この疑問に対する答えはたくさんあるが(ネットで調べれば様々な理論がでてくる)、「12」という数字が古来から人間社会に密接につながっていることは間違いない！</p>
  </div>
  <div class="block">
    <p>
    <em>Q: サイトの基調カラーである「赤」の意味は？</em><br>
    A:単純に、単色をベースとしたシンプルなデザインにしようと思ったら、黒だとつまらないな、というのがあった。デザイナーのゆうさくには「シンプルだけど洗練されてて、ポップさや遊び心もある」という感じに、軽く無理難題をふったのだが、見事に想像以上のものを作ってきてくれた。「赤」という色には情熱と闘争心が籠っており、同時にアイコンのデザインからは、「赤い糸＝人と人のつながり」のというイメージが湧く。ある意味「赤」が最も理想的な色だったのでは、と今では感じている。</p>
  </div>
  <div class="block">
    <p>
    <em>Q: 資金はどうしているの？</em><br>
    A:基本的にはコミンズがサラリーマン時代に貯めたお金をベースに、クラウドファンディングや応援してくださるスポンサーからの有り難きご好意をいただきながら、細々とやっております。お金の使い道は予算表などを含め、プロジェクトが軌道に乗り始めたらオープンにしますので、ご確認ください。</p>
  </div>
  <div class="block">
    <p>
    <em>Q: 最終的には何がやりたいの？</em><br>
    A:この質問は知人・友人からはよくきかれたもので、おそらく本人を知らない人は思いつきもしないと思いますが、このプロジェクトのマクロ的な意図とかを本当に知りたいと思う人がいましたら、とりあえず直接連絡ください（笑）とうていこのFAQページ内には収まりません（笑）<br><br>とりあえず今んところはこんな感じです。今後同じ質問をよくきかれたりされたら、またアップデートします！そして、二度目になりますが、<a href="mailto:contact@worldintwelve.com">contact@worldintwelve.com</a>までどしどし質問投げてきてください！</p></div>
</article>
