<link rel="stylesheet" type="text/css" href="/styles/about.css" />
<link rel="stylesheet" type="text/css" href="/styles/article.css" />

<div id="about-sidebar">
  <ul>
    <a href="/about/wxii"><li><span>What is WXII</span></li></a>
    <a href="/about/cities"><li><span>Cities</span></li></a>
    <a href="/about/projects"><li><span>Projects</span></li></a>
    <a href="/about/rules"><li><span>Rules</span></li></a>
    <a href="/about/faq"><li><span>FAQ</span></li></a>
  </ul>
</div>
<script>
  window.addEventListener('load', function() {
    var sidebar = document.getElementById('about-sidebar');
    var clientRect = sidebar.getClientRects()[0];
    var topPosition = clientRect.top + scrollY;
    var leftPosition = clientRect.left + scrollX;
    window.addEventListener('scroll', function() {
      if (scrollY > topPosition) {
        sidebar.classList.add('floating');
        sidebar.style.left = leftPosition;
      } else {
        sidebar.classList.remove('floating');
        sidebar.style.left = '';
      }
    });
  });
</script>
{% autoescape false %}
<div id="about-body">{{body}}</div>
{% endautoescape %}
