<article>
  <div class="title">About the Projects</div>
  <div class="block image-right">
    <img src="/images/about/konkan.png">
    <p>知人に” World in Twelve” について軽く説明したり、企画書をみせたりしても、Citiesとは違い、あまり「12個のプロジェクトはどうやって選んだの？」とはきかれない。不思議なほどに。しかし、<br>
<em>この Projects がコンテンツの部分であり、類似する「世界をまわりました」プロジェクトとの差別化をはかっている部分でもある。ようは、<font style="color:red;">ザ・根幹</font>。</em><br>一番大事。</p></div>

  <div class="block image-left">
    <img src="/images/about/focus.png">
    <p>だからこそプロジェクトを選出方法にも、もちろん意味はある。「基本情報」の部分でも多少触れたが、根本に共通するテーマは<br>
<em><font style="color:red;">「その都市を表現する」</font></em><br>である。<br><br>
ここで「ちょっと待てよ、【その都市を表現する】だと？ふざけんな！さっき曖昧でフワッとした動機づけをバカにしたのはどこのどいつだ？これもめちゃくちゃフワッとしてるじゃねーかよ、このフリップフロッパー矛盾野郎が！！！」というツッコミが入って来そうなので、ちょっと待ってください！説明させてください！！もうちょっとあるんですよ！！！</p></div>
  <div class="block image-right">
    <img src="/images/about/art.png">
    <p>① まず、表現方法としては、<br>
    <em><font style="color:red;">基本アートよりのもの</font></em><br>を選んでいる。<br><br>
この場合は音楽、映像、ヴィジュアルアート、詩、なんでも含みます。これにはいくつか理由があり、一つはもちろん自分がアートが好き、というのがある。しかし、同時に、興味のある教育・政治・社会問題などをテーマにその都市を表現することもできるが、おそらくこれらの根幹の部分は大学や研究機関がすでに行っているので、サブプロジェクトの一つとして手をだすのはやめ。<br>
また、アート系も、既にマスメディアに取り上げられているようなものはサブプロジェクトとしては基本扱っていない。権利処理もめんどくさいんで。(※社会問題やマスメディアについてはブログ部分で触れることはもちろんあります)
</p></div>
  <div class="block image-right">
    <img src="/images/about/base.png">
    <p>② 直接アート系につながっていないサブプロジェクトは、<br>
    <em><font style="color:red;">「人」がベース</font></em><br>となっている。<br><br>
    というか、この「人」というテーマは、「都市を表現する」というテーマの次に重要。<br>
自分の中に「日常を知りたい」という欲求がある時点で、欲しい情報は「日常の人」のもの。セレブがその都市に訪れるときにいくホテルでも、ガイドブックに載っているレストランでも、ツアーのコースに含まれている美術館でもない。<br><br>
またその情報を得る手段としても、<br>
<em>「人の繋がり」</em><br>を重要視している。<br>&thinsp;
</p>
    <img src="/images/about/sns-friends.png">
<p>SNSの台頭により、時代は資本主義ベースからコミュニティベースにシフトしているとよく言われる。確かに、昔の友達と繋がりやすくなり、友達の朝ご飯のメニューや社会に対するフラストレーションを逐一でスクリーン上で確認できるようになったが、同時に、<br>
<em>「友達」が一つの数字になってしまった時代でもある。</em><br>
パソコン画面上で数百数千の数字の一つである「友達」を現実に引き出し、生身にもどし、繋げていく、というのもこのプロジェクトの目的の一つである。</p></div><div class="block image-right">
    <img src="/images/about/unique.png">
    <p>
    ③ さらにサブプロジェクトを考えるにあたって意識したことは、まず<br>
    <em><font style="color:red;">単体でユニークかつ面白くあること。</font></em><br>
    しかし同時に、全体として見たとき、当初の目標である「その都市を表現する」から離れていないことである。<br><br>
また、サブプロジェクトの数に対する滞在期間の短さゆえに、各サブプロジェクトがどれも「浅い」とい言われる可能性があるのは十分承知しているが(たとえば一つの都市で一年間新しいバンドを発掘しつづけるというのもプロジェクトとして十分あり得る)、逆に滞在時間が短いからこそ、浅くとも網羅的に多くのサブプロジェクトを実行することに意味があると感じた。</p></div>
  <div class="block">
<p>以上が、「都市を表現する」というメインテーマの補足です。もうちょっと具体的になりましたでしょうか？これでもまだフワッとしてるかもしれませんが、そしたら、なんか、もう、<br><br>
<em>ごめんなさい。</em><br>
(この About ページ、謝罪してばかりだな...)<br><br>
あ、最後に、サブプロジェクトのいくつかの元アイデアは自分のものではないとも述べておきたいです。”World in Twelve” の企画書を人に見せていた時に、同時にアイデアの募集もお願いしていました。そしてその内いくつかを選出し、アイデア提供者と改良していきましたので、改めて手伝ってくれた人たちに感謝感謝です！</p></div>
</article>
