<article>
  <div class="title">Rules</div>
  <div class="block">
    <p>
    <em>12のルールとは？</em><br>
    「12のルール」とは、各都市に滞在している一か月間、守らなければならない、もしくは実行しなくてはいけないルールである。ルールの選出方法は、個人的に興味ある内容であり、そこに住んでいる人間にとって、日常に彩りを与えながらも、日常からはみ出さないレベルのもの。ルールがちゃんと実行されたかは、ブログページ内、もしくはダッシュボードから確認できる。また、各ルールは毎月新しい都市につくときにリセットされる。万が一ルールを破ったり、守らなかったり、忘れたりした場合は、罰ゲームが科せられる。
    </p>
  </div>
  <div class="block">
    <p>
    <em>ルール（予想必要金額）</em><br>
    </p>
    <ol>
      <li><font class="underline">生活用品</font>（生活費内）<br>その都市特有の生活用品を使ってみよう！</li>
      <li><font class="underline">自炊</font>（食費内）<br>月に最低四回、自炊をしよう！同じメニューを、その都市によってアレンジしてみよう！<br>（i.
      カレー  ii. サンドウィッチ＆サラダ  iii. 肉じゃが  iv. パスタ ） </li>
      <li><font class="underline">クラブ</font>($30)<br>もうオールナイト遊ぶのはきつい年齢だけど、とりあえずはっちゃけてみよう！</li>
      <li><font class="underline">レストラン</font>($60)<br>プロジェクトの資金はパツパツだけど、たまにはおいしいものを食べよう！</li>
      <li><font class="underline">読書</font> (Free)<br>その都市が舞台の作品を読んで、雰囲気に浸かろう！</li>
      <li><font class="underline">スポーツ観戦</font> ($50)<br>その都市の熱いスポーツを生で見よう！</li>
      <li><font class="underline">スポーツバー</font>（$30）<br>その都市の熱いスポーツを、さらに熱い場所で見よう！</li>
      <li><font class="underline">演劇</font>（$20）<br>サブプロジェクトには組み込めなかった、演劇を観に行こう！</li>
      <li><font class="underline">ジャズバー</font>($40)<br>その都市のジャズシーンを体験しよう！</li>
      <li><font class="underline">中古レコード屋</font> (Free)<br>掘り出し物をみつけよう！</li>
      <li><font class="underline">図書館・本屋・古書店</font>
      (Free)<br>プロジェクトから降格。でもやっぱり本が好きだから名物図書館や本屋をいろいろ探してみよう！</li>
      <li><font class="underline">休暇！！</font>($200~300?)<br>サブプロジェクトの完成に追われる毎日。一回ぐらい休暇をとろう！</li>
    </ol>
  </div>
  <div class="block">
    <p>
    <em>ルールが破られた場合</em><br>
    自分、もしくはその時プロジェクトに参加しているメンバーがルールを破った場合、罰ゲームが執行される。罰ゲームは、プロジェクトを見てくれている方々へのプレゼントである。（視聴者プレゼント的な）。各都市での滞在期間中に前回破られたルールの数分のプレゼントを買う。その後フォロワーやリーダーをサイト上で応募し、当選者はランダムで決める。<br><br>
    破られたルールの数は翌月1日に発表される。当選者毎月10日に発表され、25日に次の滞在都市から発送される。<br><br>
    ※もしすべてのルールが実行された場合、1人だけ当選者を選ぶ。
    </p>
  </div>
</article>
