<article>
  <div class="title">What is the “World in Twelve”?</div>
  <div class="block">
    <p><em>”World in Twelve” とはなんぞや？</em><br>
    その質問に答える前に、まず感謝の言葉を述べたい。ワールドワイドウェブ上に転がっている無数のページの中から、ここに辿り着いてありがとう！ YouTube 見てたり、Facebook覗いてたり、ツイートしてたり、ニュース読んでたり、コード書いてたり(まじめか！)、パソコンの前で時間を費やす方法なんてこれまた無限にあるけど、その中から今これを読んでいるんだよね？<span class="underline">本当にありがとう！！</span>来週になったらジャンプは発売されるし、来月になったらスタバでは新しいフラペチーノの味が登場する。グーグルカレンダーでスクロールしていけば、永遠に未来が表示されていくけど、あれ？時間って無限じゃない！(たまにその錯覚に陥るけど)貴重な人生の内、数分数秒でもこのプロジェクトに時間を使っていただいたことに、ここで感謝します！</p>
  </div>
  <div class="block image-left">
    <img src="/images/about/12-12.png">
    <p>では、前置き(？)はそれぐらいにして、あらためて、「” World in Twelve”とはなんぞや？」簡単に言うと、わたくし、コミンズ・リオの自己満のプロジェクトです。いや、そーゆーんじゃなくて、実際なにをやってるの？ときかれたら、<br><br>
    <em>世界にある 12 の都市に一ヶ月ずつ滞在し、<br>その各都市で 12個のプロジェクトを行ってるよ。</em><br><br>
    と答えます。たぶん、これだけだと、読者のみなさんの頭上に大きな雲形の「？？？」が登場していると思うので、もうちょっと掘り下げます。(ちょっと形式を変えてみようかな...。)</p>
  </div>
  <div class="partition">&mdash;</div>
  <div class="block image-right">
    <img src="/images/about/gorogoro.png">
    <p>2013年、秋が冬に変わりかけてた頃。コミンズ青年は退屈していました。平凡で単調なサラリーマン生活。仕事にやりがいもなきゃ、会社に未来も感じない。日々の楽しみは TSUTAYAから借りて来る漫画と、たまに休日にやるバスケ。てか、これらがなきゃ本当になんもねえ人生だな...ソファーに寝転がり想いに耽るコミンズ青年。東京も5年もいたし、そろそろどこか他の場所も経験してみたい。てか、大好きな東京も、他の場所を知らないと、その良さも忘れていってしまう。</p>
  </div>
  <div class="block" style="margin-bottom: 0">
    <p><em>よし、いざ世界へでよう！！</em><br>
    久しぶりにやる気に溢れていたコミンズ青年。しかし...
    </p>
  </div>
  <div class="block two">
    <img class="remove-when-screen-size-small" src="/images/about/arrow.png" style="width: 100%">
    <div class="inner-block">
      <p><em>1: 元来、あんまり旅行好きじゃない。</em><br>
      短期間どっかに行って、観光スポット巡って、お好み焼きで言うソースとマヨの部分だけ見て帰ってきて、そこを知った気になって、「どこどこ？うん、この前行ったよー。ちょー良かった！！」とかスペインバルの席でシャンディーガフ片手に話したりして--なんなんこれ？(はい、中二病な意見だということは重々承知しております)</p>
      </div>
    <div class="inner-block">
      <p><em>2: 同じぐらい、世界放浪とかにも興味がない。</em><br>
      その身にはバックパック一つ、何日間で何十ヶ国行って、旅ブログみたいなの書いて、現地の少年たちとサッカーしましたー、ターバン頭に巻きましたー、後進国の現状を知って現代日本人として責任がうんたらかんたら、など、誰もが Facebook 友達に一人はいそうな、ありふれた「人生観変わったアイツ」にもなりたくない。(はい、中二病な意見だということは重々承知しております)</p>
      </div>
  </div>
  <div class="block image-left">
    <img src="/images/about/door.png">
    <p><em>では、どうしましょう？</em><br>
    自分は何に興味があるのか。なんで世界に行きたいのか。原点に帰るコミンズ青年。<br><br><br>
    まず、「日常に興味がある」ということを再確認。そう、旅行が好きじゃないって言うよりは、滞在が短いせいで、必然的にその場所の上辺の部分しか経験できないことが嫌なのだ。よって、自分が世界にでるとしたら、ある程度の期間を一つの場所で過ごし、そこの日常を経験しなくてはいけない。これの事実は” World in Twelve” を作る上で一つのキーファクターとなる。
    </p>
  </div>
  <div class="block image-right">
    <img src="/images/about/key.png">
    <p>
    ￼さらに、自分にとって「なにかをやるにおいて、【目的】と【面白さ】が必要」ということも再確認。なるほど、世界放浪者が好きじゃないというよりは、その根本にある「自分探し」とか「資本主義からの脱退」とかいう、至極曖昧かつフワッとした動機づけが好きじゃなかったのだ。確かに、最近増えている「世界の ITスタートアップ社長に会う」とか「世界のワイナリーを取材する」など、具体的かつ次に繋がりそうな目標をもち、世界を回っている人たちは面白く感じる。この事実も” World in Twelve”を作る上で一つのキーファクターとなる。この二つのファクターを主に、少しずつプロジェクトを構築していった。</p>
  </div>
  <div class="block">
    <p>まず、「日常を知るために住む」の最短期間を「一ヶ月」に定義した。これには明確な理由はないが、「海外を経験する」のミニマムとして地位を確立している「短期留学」が基本最短一ヶ月弱だということと、一ヶ月以上の滞在にすると、あまり多くの都市を回れないと思ったからである。世界を回るにしても長くて一年だと考えていたので、一年で一ヶ月ずつ住むとしたら、12の都市に住めることになる。12という数字のキリの良さも好きだったので、一ヶ月で 決定した。<br><br>
    次に、【目的】と【どう面白くするか】を考えた。世界の都市で一ヶ月ずつ住んでも、それだけじゃあ面白くない。そこで、【目的】を「世界の縦横の比較=クロスセグメンテーション」とし、各都市で共通の 12個のサブプロジェクトを実施することにより、その目的を成し遂げ、同時に【面白い】コンテンツも作れると思った。各サブプロジェクトは一つ一つ、その都市を表現するものであり、それらを都市間で比較することにより、世界の都市における共通点・相違点がみられる、ということである。図を見ていただければわかりやすいかもしれない。</p>
    </div>
    <div class="block">
      <img src="/images/about/plan.png" style="width: 100%;">
    </div>
    <div class="block">
      <p>ここで、本来の質問「” World in Twelve”とはなんぞや？」とそれへの回答、「世界にある 12の都市に一ヶ月ずつ滞在し、その各都市で 12 個のプロジェクトを実行する」に戻る。もう少しわかりやすくなっていれば嬉しいです。まだわからないなら、やべどうしよう、すみません、自分の説明能力が足りてないことを謝罪します。<br><br>
      とりあえず、プロジェクトの大まかな概要はこんな感じです。次に、「どうやって都市を選出したか」、「どうやってプロジェクトを選出かしたか」、そして「その他よくある質問について」触れたいと思います。</p>
  </div>
</article>
