<em>はい、自己満です。</em><br>
なにも言い訳しません。”Blind Cheap
Kudos”は自分が以前からやっていた音楽プロジェクトであり、「都市を表現する」という”World
in
Twelve”のコンセプトとは基本的になにも関係ありません。強いて言えば、現地のアーティストとコラボレーションとかやろうと思っているので、そこで都市のカラーを出したりとか．．．って、え？冒頭で言い訳はしないって言ったじゃねーか、だって？現地のアーティストはもう違うサブプロジェクトでやってるだろ、だって？もうちょっと潔くなれよ、だって？？<br><br>
．．．ごめんなさい。おっしゃる通りです。とりあえず一回詳細をみてみて！！<br><br>
<div id="project-details">
  大学生の頃からやっている音楽プロジェクト”Blind Cheap
  Kudos”の一環で、各都市で一曲作る。限られた機材と、現地のアーティストやデザイナーとどこまでできるかの自分への試練、って書くとなんかカッコいいね。

  集めた曲とアートワークは最終的に一つのアルバムにする。アートワークはポスターとしてマーケットプレイスで売る。いわゆる一丁前にミュージシャンを気取って活動するわけさ！
</div>
<br>
いっこぐらい自己満でもいいよね？だよね？ね？ね．．．？？
