Dates pt. 1の構想ができあがり、世界にはどんな美女がいるのだろうか、どんなデートに連れてってくれるのか、と妄想に耽るコミンズ青年とヤマト総合P。しかし、甘美な妄想が膨らむ中、その瞬間、二人はある衝撃的な事実に気づく。<br><br>
<em>やべえ、美女デート、全然リアルじゃねええ！！！！</em><br><br>
確かに、「ローカルな女の子おススメデートスポット」という、普段の生活に活用できそうな情報は手に入るが、やべえ、<font class="underline">本来目的である「日常」を全く表してねえ！！</font><br>
　だって、女の子はずっとカメラに向かって喋ってるし、なんなら男の頭にカメラくっついてるし、そういえば共通言語も曖昧だからコミュニケーションに不備はあるし、そもそも論、企画から出来上がってる時点でこれ、本物のデートの要素全くねえよ！！！<br>
<font class="underline">元も子もねえ！！！</font><br><br>
というわけで考えました。どうやったらデートで「日常を表す」ことができるのか。<br>
そして以下に辿り着きました。<br><br>
<div id="project-details">
カップル12組に、お互いをVINEで撮りあってもらう、というもの。以下詳細。<br><br>

◇基本彼氏が彼女、彼女が彼氏を撮影。二人で撮る自我撮りはOKだ　　が、どちらかが携帯を握っている、というのははっきりする。<br>
◇期間は12日間。その間でたくさんのVINEを撮ってもらう。<br>
◇一つの映像はVINEなので6秒間<br>
◇期間が終了したら、彼氏、彼女、それぞれに12個の動画を選んで、　贈ってもらう。喧嘩は避けたいので、どれを贈るかは二人で相談。<br>
◇彼氏・彼女、それぞれ12×6秒＝72秒の動画ができあがる。<br>
</div>
<br>
最近のソーシャル・サービスを使った、誰でも参加可能な、相互性の高いウェブ3.0的（？）サブプロジェクト。とくとご覧あれ。<br>（言いたいだけ）
