<link type="text/css" rel="stylesheet" href="/styles/article.css">
<link type="text/css" rel="stylesheet" href="/styles/list.css">
<link type="text/css" rel="stylesheet" href="/styles/projects.css">
<style>
  {% for project in projects %}
  .image-list .item.{{project.id}} {
    background-image: url(/images/projects/{{project.id}}_gray.png);
  }
  .image-list.{{project.id}} .item.{{project.id}},
  .image-list .item.{{project.id}}:hover {
    background-image: url(/images/projects/{{project.id}}.png);
  }
  {% endfor %}
</style>
{% for project in projects %}
<img class="pre-load" src="/images/projects/{{project.id}}.png">
{% endfor %}
<div id="project-list" class="image-list {{project_id}}">
  {% for project in projects %}
  <a anchor="{{project.label}}" title="{{project.label}}" href="/projects/{{project.id}}">
    <div class="item {{project.id}}"></div>
  </a>
  {% endfor %}
</div>
<div id="project-info">
  <article>
    <div class="block two">
      <div class="inner-block">
        <div class="info-block">
          <img src="/images/projects/{{project_id}}.png">
          <div>{{meta.label}}</div>
        </div>
        <div class="info-block">
          {% for item in meta.metas %}
          <div>{{item}}</div>
          {% endfor %}
        </div>
      </div>
      <div class="inner-block">
        <p>
        {% autoescape false %}
        {{description}}
        {% endautoescape %}
        </p>
      </div>
    </div>
  </article>
</div>
