実は「バンド・アーティスト」と同時に、最初に考えたサブプロジェクトの一つ。そして、同時に最もテレビ番組的でもある。世界の家庭料理とか朝ご飯とか屋台とかを紹介する番組やコーナーはいっぱいあるんで、そこまで目新しさはかもしれないが、自分の中で「食」が人生の中で最も重要な部分の一つであると同時に（これは今後少しずつ明かされていくのだと思うが）、「人の繋がり」が基本コンセプトの一つである”world in
Twelve”にとって、「おばあちゃん」と「孫」という繋がりはすごく魅力的に感じた。さらに、基本的に全てのサブプロジェクトが「都市の現状」を表すものなのだが、その中に「都市の変貌」や「時代による変化」を表すものがないと気づき、すごくミクロな個人ベースでもいいので、おばあちゃんから「変化」の部分をきいてみたかったのである。<br><br>
なんか柄にも無く真面目なイントロですな。とりあえず以下詳細となっております。<br>
<div id="project-details">
  おばあちゃんに得意なレシピ・好きな料理などをおしえてもらい、それを孫と一緒につくる、というもの。同時に、おばあちゃんにはインタビューを行い、自分と自分の過去のこと、子供の頃の都市と現在に至る都市の変化などについて話してもらう。また、同時に「12の問」のいくつかの質問にも答えてもらう。インタビュー自体は、いわゆる「インタビュー形式」で行うと同時に、食事に合わせても行う。

  最終的には、各都市からおばあちゃんの献立レシピが一つずつ集まることになる。それらを収集し、「世界各都市のおばあちゃんレシピ集」を作りたい。
</div>
<br>
長い年月、人生の様々な体験を乗り越え、毎日作られてきた「おばあちゃんの手料理」。そこに込められている想いとは、その味とは。
