<article>
  <div class="block two">
    <div class="inner-block">
      <div class="info-block">
        <img src="/images/projects/{{item_id}}.png">
        <div>{{meta.label}}</div>
      </div>
      {% if type == "projects" %}
      <div class="info-block">
        <a href="/{{lang}}/matrix/tokyo_x_{{item_id}}">TEST CITY: Tokyo</a>
      </div>
      {% else %}
      <div class="info-block">
        {% for item in meta.metas %}
        <div>{{item}}</div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="inner-block">
      <p>
      {% autoescape false %}
        {{description}}
      {% endautoescape %}
      </p>
    </div>
  </div>
</article>
