偉大なるゆーまと”World in Twelve”
の全体像について相談をしていた時、サブプロジェクトのアイデアとして一つでてきたのが「細かすぎて伝わらないトリセツ」。ゆーまの「やっぱりガイドが欲しい」という意見と、元々自分の中にあった、「観光地とどっかで聴いたことあるレストランとホテルばっかり載ってる金太郎飴ガイドブックってまじつまらねえ！」という意見が合致し、生まれたのがこいつ。ちょっと複雑な間の子です。<br><br>
名前はみなさんご存知、「とんねるずのみなさんのおかげでした」のコーナー「細かすぎて伝わらないモノマネ」から借りパクしています。そして、あの最強に面白いコーナーと同様に、うちの子も、細かすぎて伝わらない情報がたくさん詰まっています。<br><br>
旅に出たら、「地球の歩き方」50％、「勘」49％、そしてうちの「トリセツ」を1％ぐらい使っていただければ嬉しいです。<br>
<div id="project-details">
  「細かすぎて伝わらない」情報を各項目、12個記載。
  「細かすぎて伝わらない情報」というのは、観光客にとっては文字通り、それ知っててもマニアックすぎてあんまり使えないよ！とか、ローカルすぎてわからないよ！という情報です。

  12個の項目は以下の通り
  ①仕草       ⑦偉人
  ②スラング       ⑧穴場（地域）
  ③ことわざ       ⑨死語
  ④穴場（場所）     ⑩待ち合わせ場所
  ⑤特殊食材       ⑪特殊料理
  ⑥専門用語       ⑫秘密基地

  出会ったいろんな人から情報をもらい、まとめ、最終的にはイラストとかをつけて、サイト上にアップ。書籍化できたらおもしろそう？
</div>
<br>
みんな、使えそうでしょ？「細かすぎて伝わらないトリセツ」をもって、あなたも世界に羽ばたけレッツラゴー！！（死語）
