"World in Twelve”が成り立つために、一年ほどかけて準備をしてきた。必要な人材・資金・機材・時間、色々な可能性を想定して、やってきた。自分のネガティブよりの性格上、「これで完璧だ！」と思うことは基本無いが、「これならイケる！」まではもってきたつもりだ。ただ、その中でも唯一確実に言えることは、これだけやってきても、
<br><br>
<em><font style="color:red;">「絶対想定外なことがたくさん起きる！！」</font></em><br><br>
ってことである。当然だ。自分にとっては、言葉もわからない、未踏の地に足を踏み入れ生活するのだ。現段階で全て想定できるほうがおかしい。というか、
<br><br>
<em>想定できたらむしろつまらない！</em>
<br><br>
よって、生まれたのがこれ、「ザ・その時決める」。その都市に初めて訪れ、初めて訪れたからこそ感じたこと、思ったこと、気づいたことをまとめて表現するサブプロジェクト。以下、もちょっと詳しく。<br><br>
<div id="project-details">
その都市につくまで、なにをテーマにものを作るかを決めない、唯一のプロジェクト。その都市に初めて訪れ、初めて訪れたからこそ感じたこと、思ったこと、気づいたことをまとめて表現するのだが、たとえば日々感じていることを綴っているブログとの異なる点は、掘り下げる「部分」にある。ブログでは「今日こんなことがあった、だからこう思った」とライトに書くのに対して、「ザ・その時決める」では、「この都市ではこういった特性がみられる。これはこういう理由からだと思う。その証拠がこれだ」という、どちらかというとエッセイや小論文形式になる。概要の映像も、さすがにドキュメンタリーとまではいかなくとも、「プチ映像エッセイ」みたいな形にできれば嬉しい。（ただ、この概要部分は時間の関係で実現できるかは不明だが．．．）
<br><br>
追記：一つ、エンジニアのよっしーから出たアイデアで実現したいものが、「ユーザー投票によるテーマの選出」である。毎月その都市のテーマを独断と偏見ばかりで決めるより（”World in Twelve”のほとんどの部分が既にそうだし）、２週目の終わりにいくつかのテーマをサイト上にあげ、そこから視聴者投票により一つに絞り、コンテンツにしていくほうが面白いのではないか。ただ、当然だがこの投票制を実現させるためには一定層の視聴者数が必要になるので、特に初期段階ではどこまで現実味があるかはわからない．．．。</div>
<br>
なにがおこるかわからない、それが旅の醍醐味！ワクワクドキドキが止まらない！！
