最初におもいついたサブプロジェクト。元々大学生の時には学生バンド用のレコーディングスタジオを運営していたので、「世界中のアーティスト・ミュージシャンの音源を集めたい」と思いたったのは当然かもしれない．．．。サブプロジェクトの中身自体は音楽を通して「その都市を表現する」というシンプルなものなのだが、実はもうちょっと深い所にさらなる動機がある（はず）。<br><br>
それがなんなのかというと、同世代のアーティスト・ミュージシャンが、ボーダーレスにお互いの音楽を視聴できるチャンスを与える、というもの。なんかそう記載すると、お役所とかNPOとかが絡んでる、インターナショナルとかグローバルを謳っているプログラムの概要みたいに聞こえるけど、そんな大それたものではなく、単純に”World
in Twelve”を通して他の国のアーティストの曲がきけるってだけ。<br><br>
また、「今の時代、そーゆーサービス使っていくらでも海外の音楽なんか聴けるじゃないか」という意見もあるとおもう。もちろんそれはその通りで、逆に問い直すと、普通に生きてて、海外のインディーレベルアーティストの曲、聴く？自分の国の音楽シーンに追いつくのも大変なのに、わざわざバンコクとかストックホルムとかイスタンブールのインディーシーンまで追いかけている人は非常に稀だよね。<br><br>
でも、”World in
Twelve”に参加すれば、自ずと聴くことになる。なぜなら、他の国の人が自分の音楽を聴いているから。ギブアンドテイク。”World
in
Twelve”の仕組み上、どんどん新しい都市が増えていくので、新しい都市の人は過去の、以前の都市の人は最新のサブプロジェクトを見るようにできているのだ！<br><br>
とりあえず、以下詳細。<br>
<div id="project-details">
各都市からバンド・アーティストを探し、曲を一つ提供してもらう。曲に関しての詳細は以下。

→唯一の絶対的な指標は「その都市を表している」ということ。バンド・アーティストにはできれば、最も「その都市を表している」と感じている曲を提供して欲しい。
→ジャンル・曲の長さ、などは自由
→レコーディングフォーマットも自由
→理想は、このプロジェクトのために曲を作ってくれることなのだが、それはあまりにもハードルが高いので、作りかけの曲の完成版や、これから録音する曲、などの提供がバンド側の動きとしてはマックスだと思っている。もちろん、既存の曲の提供も十分ありがたい。

12組のバンド・アーティストを探して、曲をいただいたら、以下のプロセス。<br>
①12曲入りのコンピレーションCDの作成。<br>
②マスタリングを行い、それぞれの曲ごとのバランスを合わせる。（曲をいただくときには、マスター前のファイルをお願いする。）<br>
③サブプロジェクトページ内に、各アーティスト・ミュージシャンのサンプル音源と紹介文を記載。<br>
④専門iTunesよりダウンロード配信。また、CDバージョンも作成（Marketplaceから購入）
</div>
<br>
都市により、音楽シーンに違いは果たしてあるのか。その眼で、耳で、体験せよ！！
