<link rel="stylesheet" href="/styles/list.css" />
<link rel="stylesheet" href="/styles/projects.css" />

<div class="list">
  <div class="list-title">Projects</div>
  <a href="">
    <div class="box">
      <img src="/images/projects/band.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/soundcollage.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/box.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/live.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/date1.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/date2.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/grandma.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/description.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/moment.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/12qs.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/bck1.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
  <a href="">
    <div class="box">
      <img src="/images/projects/bck2.png" />
      <div class="label">Project Name</div>
      <div class="description">This is description.</div>
    </div>
  </a>
</div>
