このサブプロジェクトのオリジナルアイデアは友達のあいみーから貰ったものです。”World
in Twelve”
の企画書をいろんな人に見せていた時、あいみーさんが一つのサブプロジェクトにツッコミを入れました。<br><br>
<em>「なんで既に価値があるものに焦点をあててるの？どうせならまだ価値が無いものに価値をつければいいじゃん！」</em><br><br>
彼女がつっこんだのは、本屋を巡って珍しい本を見つけるというサブプロジェクト。既に「出版」と「販売」というプロセスを経て、価値がつけられた書物より、まだ価値がついていない、身の回りにあるものに価値をつけたらどうだ、という意見でした。<br><br>
がーん！！！！<br><br>
まさしくその通り。そっちのほうが全然百倍面白い。<br>
脳髄に雷が直撃したような衝撃でした。<br><br>
そこから、練りに練って生まれたのがこの「宝箱バトル」。以下、基本概要。
<div id="project-details">
各メンバーが、宝箱を作り、披露し、バトルを行うサブプロジェクト。

まず、宝箱を披露する決戦日までに各メンバーが自分の宝箱を作成。宝箱を作る上で、以下のルールを守らなくてはならない。
→宝物は12個なくてはならない
→12個の宝物は、それぞれその都市を「表す」ものでなくてはならない
→12個の宝物は、宝箱に入らなくてはならない（しかし代替品は可。例えば船は宝箱に入らないから、オモチャの船を選んでもOK）

決戦日当日、各メンバーは自分の宝箱を持ってくる。そこで「宝箱バトル」がはじまる。
基本の流れは以下に。
①ラウンド毎に各メンバーが宝物を一つ披露し、「なぜそれを宝物として選んだか」のプレゼンを行う。
②全員がプレゼンを終えたら、各自、自分以外の宝物に一票入れる。票を入れる基準は、「都市をちゃんと表しているか・独創性・面白さ」。点数制とか定量的なものではなく、各自、直感で投票。
③各ラウンドで、最も票が多かったメンバーが１ポイント獲得。同票数だった場合は、それぞれ１ポイント獲得。
④５ラウンド行い、最もポイントが多かったメンバーが優勝！

その他
→５ラウンドで同時ポイントの場合は、もう１ラウンド行う。誰かが優勝するまで行う。
→各メンバーが同意すれば、バトルを始める前に、「だれの宝箱が一番イケてるか」で１ラウンド行ってもよい
→優勝商品がなにかは、メンバー同士で決める</div>
<br>
というわけで、最終的にはなんかNHKのEテレとかで放送されそうな企画ですが、ぜひご覧ください！
