@charset "UTF-8";
/* line 1, ../sass/list.scss */
img.pre-load {
  display: none;
}

/* line 5, ../sass/list.scss */
.image-list {
  margin-bottom: 25px;
  text-align: center;
}

/* line 10, ../sass/list.scss */
.image-list.top {
  margin-bottom: 0;
  margin-top: 25px;
}

/* line 15, ../sass/list.scss */
.image-list .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  display: inline-block;
  height: 100px;
  position: relative;
  transition: .1s;
  width: 80px;
}

/* line 26, ../sass/list.scss */
.image-list.top .item {
  background-size: 120px;
  height: 160px;
  margin-bottom: 30px;
  margin-right: 40px;
  width: 220px;
}

/* line 34, ../sass/list.scss */
.image-list.deep .item {
  background-position-y: 2px;
}

/* line 38, ../sass/list.scss */
.image-list.top .item:hover {
  background-size: 135px;
}

/* line 42, ../sass/list.scss */
.image-list.deep .item:hover {
  background-position-y: -2px;
}

/* line 46, ../sass/list.scss */
.meta:before {
  content: "ー";
  font-weight: bold;
  line-height: 1;
}

/* line 52, ../sass/list.scss */
.image-list .item .meta {
  display: none;
  text-align: left;
  width: 100%;
}

/* line 58, ../sass/list.scss */
.image-list.top .item .meta {
  display: block;
  font-family: Futura, Arial;
  position: absolute;
  top: 140px;
}

/* line 65, ../sass/list.scss */
.image-list .item .meta .month {
  color: #B4B4B4;
  font-size: 13px;
  margin-top: 5px;
  text-align: right;
}

/* line 72, ../sass/list.scss */
.image-list .item .meta .description {
  color: #4E4E4E;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  /* line 79, ../sass/list.scss */
  .image-list .item {
    width: 15%;
  }

  /* line 82, ../sass/list.scss */
  .image-list.top .item {
    margin: 10px;
  }
}
@media screen and (max-width: 480px) {
  /* line 88, ../sass/list.scss */
  .image-list .item {
    width: 23%;
  }
}
