/* line 3, ../sass/matrix.scss */
.matrix-frame {
  min-height: 400px;
  position: relative;
}

/* line 8, ../sass/matrix.scss */
.cross {
  position: absolute;
  /* :before is for the horizontal bar */
  /* :after is for the verfical bar */
}
/* line 11, ../sass/matrix.scss */
.cross:before {
  background-color: #FC3838;
  content: "";
  height: 2px;
  position: absolute;
  top: 17px;
  width: 120px;
}
/* line 21, ../sass/matrix.scss */
.cross:after {
  background-color: #FC3838;
  content: "";
  height: 36px;
  position: absolute;
  width: 2px;
}
@media screen and (max-width: 756px) {
  /* line 30, ../sass/matrix.scss */
  .cross:before {
    width: 34px;
  }
  /* line 34, ../sass/matrix.scss */
  .cross:after {
    height: 34px;
  }
}

/* line 41, ../sass/matrix.scss */
.cross.left {
  left: 0;
}

/* line 45, ../sass/matrix.scss */
.cross.left:after {
  left: 17px;
}

/* line 49, ../sass/matrix.scss */
.cross.right {
  right: 120px;
}
@media screen and (max-width: 756px) {
  /* line 49, ../sass/matrix.scss */
  .cross.right {
    right: 34px;
  }
}

/* line 56, ../sass/matrix.scss */
.cross.right:after {
  left: 101px;
}
@media screen and (max-width: 756px) {
  /* line 56, ../sass/matrix.scss */
  .cross.right:after {
    left: 15px;
  }
}

/* line 63, ../sass/matrix.scss */
.cross.top {
  top: 0;
}

/* line 67, ../sass/matrix.scss */
.cross.bottom {
  bottom: 0;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.bangkok .cross:after,
.matrix-frame.bangkok .cross:before {
  background-color: #FF6D00;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.barcelona .cross:after,
.matrix-frame.barcelona .cross:before {
  background-color: #AC0D19;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.istanbul .cross:after,
.matrix-frame.istanbul .cross:before {
  background-color: #A3860C;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.london .cross:after,
.matrix-frame.london .cross:before {
  background-color: #08B29A;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.melbourne .cross:after,
.matrix-frame.melbourne .cross:before {
  background-color: #22ADF2;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.munich .cross:after,
.matrix-frame.munich .cross:before {
  background-color: #F49F08;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.newyork .cross:after,
.matrix-frame.newyork .cross:before {
  background-color: #82A81A;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.paris .cross:after,
.matrix-frame.paris .cross:before {
  background-color: #F93EA5;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.riodejaneiro .cross:after,
.matrix-frame.riodejaneiro .cross:before {
  background-color: #457012;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.sanfrancisco .cross:after,
.matrix-frame.sanfrancisco .cross:before {
  background-color: #7436C6;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.stockholm .cross:after,
.matrix-frame.stockholm .cross:before {
  background-color: #1D3C7F;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.tokyo .cross:after,
.matrix-frame.tokyo .cross:before {
  background-color: #565656;
}

/* line 73, ../sass/matrix.scss */
.matrix-frame.toronto .cross:after,
.matrix-frame.toronto .cross:before {
  background-color: #6B3E0D;
}

/* line 80, ../sass/matrix.scss */
.cityxproject {
  position: absolute;
  text-align: center;
  top: -43px;
  width: 100%;
}
/* line 87, ../sass/matrix.scss */
.cityxproject .icon-block {
  display: inline-block;
}
/* line 91, ../sass/matrix.scss */
.cityxproject .icon-block .icon {
  width: 100px;
}
/* line 94, ../sass/matrix.scss */
.cityxproject .icon-block .label {
  color: #4E4E4E;
  font-family: 'Futura', Arial;
  text-align: center;
}
/* line 100, ../sass/matrix.scss */
.cityxproject .x {
  font-size: 40px;
  margin: 0 10px;
  position: relative;
  top: -40px;
}
@media screen and (max-width: 756px) {
  /* line 108, ../sass/matrix.scss */
  .cityxproject {
    top: -29px;
  }
  /* line 111, ../sass/matrix.scss */
  .cityxproject .icon-block .icon {
    width: 75px;
  }
  /* line 114, ../sass/matrix.scss */
  .cityxproject .x {
    font-size: 25px;
  }
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.bangkok .cityxproject .x {
  color: #FF6D00;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.barcelona .cityxproject .x {
  color: #AC0D19;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.istanbul .cityxproject .x {
  color: #A3860C;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.london .cityxproject .x {
  color: #08B29A;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.melbourne .cityxproject .x {
  color: #22ADF2;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.munich .cityxproject .x {
  color: #F49F08;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.newyork .cityxproject .x {
  color: #82A81A;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.paris .cityxproject .x {
  color: #F93EA5;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.riodejaneiro .cityxproject .x {
  color: #457012;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.sanfrancisco .cityxproject .x {
  color: #7436C6;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.stockholm .cityxproject .x {
  color: #1D3C7F;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.tokyo .cityxproject .x {
  color: #565656;
}

/* line 121, ../sass/matrix.scss */
.matrix-frame.toronto .cityxproject .x {
  color: #6B3E0D;
}

/* line 126, ../sass/matrix.scss */
.arrows {
  bottom: -50px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 133, ../sass/matrix.scss */
.arrows .arrow {
  display: inline-block;
  font-size: 35px;
  margin: 0 10px;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.bangkok {
  color: #FF6D00;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.barcelona {
  color: #AC0D19;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.istanbul {
  color: #A3860C;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.london {
  color: #08B29A;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.melbourne {
  color: #22ADF2;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.munich {
  color: #F49F08;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.newyork {
  color: #82A81A;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.paris {
  color: #F93EA5;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.riodejaneiro {
  color: #457012;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.sanfrancisco {
  color: #7436C6;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.stockholm {
  color: #1D3C7F;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.tokyo {
  color: #565656;
}
/* line 139, ../sass/matrix.scss */
.arrows .arrow.toronto {
  color: #6B3E0D;
}

/* line 146, ../sass/matrix.scss */
.matrix-body {
  padding: 100px 50px;
}
/* line 150, ../sass/matrix.scss */
.matrix-body .page-selector {
  padding: 10px;
}
/* line 152, ../sass/matrix.scss */
.matrix-body .page-selector a span {
  margin-right: 10px;
}
/* line 155, ../sass/matrix.scss */
.matrix-body .page-selector a span:hover {
  text-decoration: underline;
}
/* line 160, ../sass/matrix.scss */
.matrix-body .page-selector a img.icon {
  border-radius: 100px;
  margin: 5px;
  padding: 2px;
  position: relative;
  transition: .1s;
  width: 75px;
}
/* line 168, ../sass/matrix.scss */
.matrix-body .page-selector a img.icon:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 175, ../sass/matrix.scss */
.matrix-body article {
  color: #4E4E4E;
  position: relative;
}
/* line 179, ../sass/matrix.scss */
.matrix-body article img {
  max-width: 100%;
}
/* line 183, ../sass/matrix.scss */
.matrix-body article .banner {
  width: 100%;
}
/* line 188, ../sass/matrix.scss */
.matrix-body article.hidden {
  display: none;
}
@media screen and (max-width: 756px) {
  /* line 193, ../sass/matrix.scss */
  .matrix-body {
    padding: 100px 20px;
  }
}

/* line 200, ../sass/matrix.scss */
article.musicians .logo {
  max-height: 70px;
}
/* line 203, ../sass/matrix.scss */
article.musicians .jacket {
  width: 300px;
}

/* line 211, ../sass/matrix.scss */
article.micro_guide .section .title {
  color: #FC3838;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 218, ../sass/matrix.scss */
article.micro_guide .section img {
  box-sizing: border-box;
  border: 5px solid #FC3838;
  position: absolute;
  width: 400px;
}
/* line 225, ../sass/matrix.scss */
article.micro_guide .section .content {
  min-height: 550px;
}
/* line 228, ../sass/matrix.scss */
article.micro_guide .section .content li {
  color: #FC3838;
}
/* line 231, ../sass/matrix.scss */
article.micro_guide .section .content li span {
  color: #4E4E4E;
}
/* line 236, ../sass/matrix.scss */
article.micro_guide .section .content ul ul {
  list-style-position: inside;
}
/* line 242, ../sass/matrix.scss */
article.micro_guide .section.image-left .content {
  margin-left: 50%;
  padding: 30px 0 0 70px;
}
/* line 249, ../sass/matrix.scss */
article.micro_guide .section.image-right img {
  right: 0;
}
/* line 252, ../sass/matrix.scss */
article.micro_guide .section.image-right .content {
  margin-right: 50%;
  padding: 30px 70px 0 0;
}
@media screen and (max-width: 1024px) {
  /* line 259, ../sass/matrix.scss */
  article.micro_guide .section img {
    width: 300px;
  }
  /* line 262, ../sass/matrix.scss */
  article.micro_guide .section .content {
    min-height: 400px;
    padding: 20px 30px;
  }
}
@media screen and (max-width: 756px) {
  /* line 269, ../sass/matrix.scss */
  article.micro_guide .section {
    text-align: center;
  }
  /* line 272, ../sass/matrix.scss */
  article.micro_guide .section img {
    position: relative;
    width: 300px;
  }
  /* line 276, ../sass/matrix.scss */
  article.micro_guide .section .content {
    min-height: 0;
    padding: 20px 0;
  }
  /* line 280, ../sass/matrix.scss */
  article.micro_guide .section .content ul {
    list-style-position: inside;
  }
  /* line 285, ../sass/matrix.scss */
  article.micro_guide .section.image-left .content {
    margin-left: 0;
  }
  /* line 290, ../sass/matrix.scss */
  article.micro_guide .section.image-right .content {
    margin-right: 0;
  }
}

/* line 300, ../sass/matrix.scss */
article.whats-beauty .name,
article.twelve-questions .name {
  font-size: 26px;
  font-style: italic;
  font-weight: bold;
}
/* line 305, ../sass/matrix.scss */
article.whats-beauty .photo,
article.twelve-questions .photo {
  padding: 20px;
  text-align: center;
}
/* line 308, ../sass/matrix.scss */
article.whats-beauty .photo img,
article.twelve-questions .photo img {
  border: 5px solid #FC3838;
  width: 500px;
}
/* line 314, ../sass/matrix.scss */
article.whats-beauty .number,
article.twelve-questions .number {
  font-family: Futura, Arial;
  font-size: 30px;
}
