/* line 3, ../sass/article.scss */
article {
  color: #4E4E4E;
  font-family: YuGothic, Arial;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 2.2;
}

/* line 12, ../sass/article.scss */
article .title {
  font-family: Futura, Arial;
  font-size: 28px;
  letter-spacing: .05em;
  margin: 40px 0 45px;
  text-align: center;
}

/* line 20, ../sass/article.scss */
article h1 {
  font-size: 25px;
  margin: 15px 0;
}

/* line 25, ../sass/article.scss */
article h2 {
  font-size: 20px;
  margin: 10px 0;
}

/* line 30, ../sass/article.scss */
article em {
  font-family: inherit;
  font-size: 21px;
  font-style: inherit;
}

/* line 36, ../sass/article.scss */
.underline {
  border-bottom: 2px dashed #FC3838;
  padding-bottom: 3px;
}

/* line 41, ../sass/article.scss */
.red {
  color: #FC3838;
}

/* line 45, ../sass/article.scss */
.center {
  text-align: center;
}

/* line 49, ../sass/article.scss */
article ol,
article ul {
  margin-left: 35px;
}

/* line 54, ../sass/article.scss */
article img {
  max-width: 100%;
}

/* line 58, ../sass/article.scss */
article .block {
  margin-bottom: 65px;
  position: relative;
}

/* line 63, ../sass/article.scss */
article .block:last-child {
  margin-bottom: 0;
}

/* line 68, ../sass/article.scss */
article .block.image-left {
  min-height: 220px;
}
/* line 71, ../sass/article.scss */
article .block.image-left img {
  position: absolute;
  width: 220px;
}
/* line 75, ../sass/article.scss */
article .block.image-left p {
  padding-left: 230px;
}
/* line 79, ../sass/article.scss */
article .block.image-right {
  min-height: 220px;
}
/* line 82, ../sass/article.scss */
article .block.image-right img {
  position: absolute;
  right: 0;
  width: 220px;
}
/* line 87, ../sass/article.scss */
article .block.image-right p {
  padding-right: 230px;
}

/* line 93, ../sass/article.scss */
article .block.two .inner-block {
  display: inline-block;
  vertical-align: top;
  width: 47%;
}

/* line 99, ../sass/article.scss */
article .block.two .inner-block:last-child {
  padding-left: 5%;
}

/* line 103, ../sass/article.scss */
article .block.next-link {
  color: red;
  font-size: 20pt;
  text-align: center;
  text-decoration: underline;
}

/* line 110, ../sass/article.scss */
article .block .info-block {
  font-family: Futura, Arial;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: .1em;
  line-height: 1.6;
  margin-bottom: 60px;
  text-align: center;
}

/* line 120, ../sass/article.scss */
article .block .info-block img {
  margin-top: 15px;
  width: 150px;
}

/* line 127, ../sass/article.scss */
article .block.image-center img {
  display: block;
  margin: 0 auto;
}

/* line 134, ../sass/article.scss */
.partition {
  color: #FC3838;
  font-size: 40px;
  font-weight: lighter;
  margin: -40px 0 20px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  /* line 144, ../sass/article.scss */
  article .title {
    margin: 20px 0 25px;
  }

  /* line 148, ../sass/article.scss */
  article .block {
    margin-bottom: 50px;
    text-align: center;
  }

  /* line 153, ../sass/article.scss */
  article .block p {
    text-align: left;
  }

  /* line 157, ../sass/article.scss */
  article .block.image-left img,
  article .block.image-right img {
    position: initial;
    right: initial;
  }

  /* line 163, ../sass/article.scss */
  article .block.image-left p,
  article .block.image-right p {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 169, ../sass/article.scss */
  article .block img.remove-when-screen-size-small {
    display: none;
  }

  /* line 173, ../sass/article.scss */
  article .block.two .inner-block {
    display: block;
    vertical-align: initial;
    width: 100%;
  }

  /* line 179, ../sass/article.scss */
  article .block.two .inner-block:first-child {
    margin-right: 9%;
  }

  /* line 183, ../sass/article.scss */
  article .block.two .inner-block:last-child {
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 189, ../sass/article.scss */
  article .title {
    margin: 15px 0;
  }
}
/* line 4, ../sass/matrix.scss */
.matrix-frame {
  min-height: 400px;
  position: relative;
}

/* line 9, ../sass/matrix.scss */
.cross {
  position: absolute;
  /* :before is for the horizontal bar */
  /* :after is for the verfical bar */
}
/* line 12, ../sass/matrix.scss */
.cross:before {
  background-color: #FC3838;
  content: "";
  height: 2px;
  position: absolute;
  top: 17px;
  width: 120px;
}
/* line 22, ../sass/matrix.scss */
.cross:after {
  background-color: #FC3838;
  content: "";
  height: 36px;
  position: absolute;
  width: 2px;
}
@media screen and (max-width: 756px) {
  /* line 31, ../sass/matrix.scss */
  .cross:before {
    width: 34px;
  }
  /* line 35, ../sass/matrix.scss */
  .cross:after {
    height: 34px;
  }
}

/* line 42, ../sass/matrix.scss */
.cross.left {
  left: 0;
}

/* line 46, ../sass/matrix.scss */
.cross.left:after {
  left: 17px;
}

/* line 50, ../sass/matrix.scss */
.cross.right {
  right: 120px;
}
@media screen and (max-width: 756px) {
  /* line 50, ../sass/matrix.scss */
  .cross.right {
    right: 34px;
  }
}

/* line 57, ../sass/matrix.scss */
.cross.right:after {
  left: 101px;
}
@media screen and (max-width: 756px) {
  /* line 57, ../sass/matrix.scss */
  .cross.right:after {
    left: 15px;
  }
}

/* line 64, ../sass/matrix.scss */
.cross.top {
  top: 0;
}

/* line 68, ../sass/matrix.scss */
.cross.bottom {
  bottom: 0;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.bangkok .cross:after,
.matrix-frame.bangkok .cross:before {
  background-color: #FF6D00;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.barcelona .cross:after,
.matrix-frame.barcelona .cross:before {
  background-color: #AC0D19;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.istanbul .cross:after,
.matrix-frame.istanbul .cross:before {
  background-color: #A3860C;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.london .cross:after,
.matrix-frame.london .cross:before {
  background-color: #08B29A;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.melbourne .cross:after,
.matrix-frame.melbourne .cross:before {
  background-color: #22ADF2;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.munich .cross:after,
.matrix-frame.munich .cross:before {
  background-color: #F49F08;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.newyork .cross:after,
.matrix-frame.newyork .cross:before {
  background-color: #82A81A;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.paris .cross:after,
.matrix-frame.paris .cross:before {
  background-color: #F93EA5;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.riodejaneiro .cross:after,
.matrix-frame.riodejaneiro .cross:before {
  background-color: #457012;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.sanfrancisco .cross:after,
.matrix-frame.sanfrancisco .cross:before {
  background-color: #7436C6;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.stockholm .cross:after,
.matrix-frame.stockholm .cross:before {
  background-color: #1D3C7F;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.tokyo .cross:after,
.matrix-frame.tokyo .cross:before {
  background-color: #565656;
}

/* line 74, ../sass/matrix.scss */
.matrix-frame.toronto .cross:after,
.matrix-frame.toronto .cross:before {
  background-color: #6B3E0D;
}

/* line 81, ../sass/matrix.scss */
.cityxproject {
  position: absolute;
  text-align: center;
  top: -43px;
  width: 100%;
}
/* line 88, ../sass/matrix.scss */
.cityxproject .icon-block {
  display: inline-block;
}
/* line 92, ../sass/matrix.scss */
.cityxproject .icon-block .icon {
  width: 100px;
}
/* line 95, ../sass/matrix.scss */
.cityxproject .icon-block .label {
  color: #4E4E4E;
  font-family: 'Futura', Arial;
  text-align: center;
}
/* line 101, ../sass/matrix.scss */
.cityxproject .x {
  font-size: 40px;
  margin: 0 10px;
  position: relative;
  top: -40px;
}
@media screen and (max-width: 756px) {
  /* line 109, ../sass/matrix.scss */
  .cityxproject {
    top: -29px;
  }
  /* line 112, ../sass/matrix.scss */
  .cityxproject .icon-block .icon {
    width: 75px;
  }
  /* line 115, ../sass/matrix.scss */
  .cityxproject .x {
    font-size: 25px;
  }
}
@media screen and (max-width: 756px) {
  /* line 120, ../sass/matrix.scss */
  .cityxproject {
    top: -16px;
  }
  /* line 124, ../sass/matrix.scss */
  .cityxproject .icon-block .icon {
    width: 45px;
  }
  /* line 127, ../sass/matrix.scss */
  .cityxproject .icon-block .label {
    font-size: 12px;
  }
  /* line 131, ../sass/matrix.scss */
  .cityxproject .x {
    top: -13px;
  }
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.bangkok .cityxproject .x {
  color: #FF6D00;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.barcelona .cityxproject .x {
  color: #AC0D19;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.istanbul .cityxproject .x {
  color: #A3860C;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.london .cityxproject .x {
  color: #08B29A;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.melbourne .cityxproject .x {
  color: #22ADF2;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.munich .cityxproject .x {
  color: #F49F08;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.newyork .cityxproject .x {
  color: #82A81A;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.paris .cityxproject .x {
  color: #F93EA5;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.riodejaneiro .cityxproject .x {
  color: #457012;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.sanfrancisco .cityxproject .x {
  color: #7436C6;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.stockholm .cityxproject .x {
  color: #1D3C7F;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.tokyo .cityxproject .x {
  color: #565656;
}

/* line 138, ../sass/matrix.scss */
.matrix-frame.toronto .cityxproject .x {
  color: #6B3E0D;
}

/* line 143, ../sass/matrix.scss */
.arrows {
  bottom: -50px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 150, ../sass/matrix.scss */
.arrows .arrow {
  display: inline-block;
  font-size: 35px;
  margin: 0 10px;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.bangkok {
  color: #FF6D00;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.barcelona {
  color: #AC0D19;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.istanbul {
  color: #A3860C;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.london {
  color: #08B29A;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.melbourne {
  color: #22ADF2;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.munich {
  color: #F49F08;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.newyork {
  color: #82A81A;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.paris {
  color: #F93EA5;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.riodejaneiro {
  color: #457012;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.sanfrancisco {
  color: #7436C6;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.stockholm {
  color: #1D3C7F;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.tokyo {
  color: #565656;
}
/* line 156, ../sass/matrix.scss */
.arrows .arrow.toronto {
  color: #6B3E0D;
}

/* line 163, ../sass/matrix.scss */
.matrix-body {
  padding: 100px 50px 50px;
}
/* line 167, ../sass/matrix.scss */
.matrix-body article {
  color: #4E4E4E;
  position: relative;
}
/* line 171, ../sass/matrix.scss */
.matrix-body article img {
  max-width: 100%;
}
/* line 175, ../sass/matrix.scss */
.matrix-body article .banner {
  width: 100%;
}
/* line 180, ../sass/matrix.scss */
.matrix-body article.hidden {
  display: none;
}
@media screen and (max-width: 756px) {
  /* line 185, ../sass/matrix.scss */
  .matrix-body {
    padding: 100px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  /* line 191, ../sass/matrix.scss */
  .matrix-body {
    padding: 52px 10px 30px;
  }
}

/* line 199, ../sass/matrix.scss */
.page-selector a span {
  margin-right: 10px;
}
/* line 202, ../sass/matrix.scss */
.page-selector a span:hover {
  text-decoration: underline;
}
/* line 207, ../sass/matrix.scss */
.page-selector img.icon {
  border-radius: 100px;
  margin: 0 5px;
  padding: 2px;
  position: relative;
  transition: .1s;
  width: 75px;
}
/* line 215, ../sass/matrix.scss */
.page-selector img.icon:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 219, ../sass/matrix.scss */
.page-selector img.icon.selected {
  background-color: #FC3838;
}
@media screen and (max-width: 400px) {
  /* line 225, ../sass/matrix.scss */
  .page-selector {
    padding: 0;
  }
  /* line 229, ../sass/matrix.scss */
  .page-selector img.icon {
    width: 40px;
  }
}

/* line 236, ../sass/matrix.scss */
article.musicians .logo {
  max-height: 70px;
}
/* line 239, ../sass/matrix.scss */
article.musicians .jacket {
  width: 300px;
}

/* line 245, ../sass/matrix.scss */
article.whats-beauty .block {
  min-height: 300px;
}
/* line 248, ../sass/matrix.scss */
article.whats-beauty .block img {
  width: 300px;
}
/* line 252, ../sass/matrix.scss */
article.whats-beauty .block.image-left p {
  padding-left: 400px;
}
/* line 257, ../sass/matrix.scss */
article.whats-beauty .block.image-right p {
  padding-right: 400px;
}
@media screen and (max-width: 1024px) {
  /* line 264, ../sass/matrix.scss */
  article.whats-beauty .block.image-left p,
  article.whats-beauty .block.image-right p {
    padding: 0;
  }
}

/* line 275, ../sass/matrix.scss */
article.treasure_box .block.image-center img {
  width: 500px;
}
/* line 280, ../sass/matrix.scss */
article.treasure_box .block.image-left {
  min-height: 300px;
}
/* line 283, ../sass/matrix.scss */
article.treasure_box .block.image-left img {
  width: 300px;
}
/* line 286, ../sass/matrix.scss */
article.treasure_box .block.image-left p {
  padding-left: 400px;
}
/* line 290, ../sass/matrix.scss */
article.treasure_box .block.image-right {
  min-height: 300px;
}
/* line 293, ../sass/matrix.scss */
article.treasure_box .block.image-right img {
  width: 300px;
}
/* line 296, ../sass/matrix.scss */
article.treasure_box .block.image-right p {
  padding-right: 400px;
}
@media screen and (max-width: 1024px) {
  /* line 303, ../sass/matrix.scss */
  article.treasure_box .block.image-left p,
  article.treasure_box .block.image-right p {
    padding: 0;
  }
}

/* line 311, ../sass/matrix.scss */
article.micro_guide .block {
  min-height: 550px;
}
/* line 314, ../sass/matrix.scss */
article.micro_guide .block .title {
  margin: 0 0 15px;
}
/* line 318, ../sass/matrix.scss */
article.micro_guide .block img {
  width: 400px;
}
/* line 322, ../sass/matrix.scss */
article.micro_guide .block.image-left p {
  padding-left: 450px;
}
/* line 327, ../sass/matrix.scss */
article.micro_guide .block.image-right p {
  padding-right: 450px;
}
@media screen and (max-width: 1024px) {
  /* line 334, ../sass/matrix.scss */
  article.micro_guide .block.image-left p,
  article.micro_guide .block.image-right p {
    padding: 0;
  }
}

/* line 343, ../sass/matrix.scss */
article.twelve-questions .name {
  font-size: 26px;
  font-style: italic;
  font-weight: bold;
}
/* line 348, ../sass/matrix.scss */
article.twelve-questions .photo {
  padding: 20px;
  text-align: center;
}
/* line 351, ../sass/matrix.scss */
article.twelve-questions .photo img {
  /*border: 5px solid $WXII_RED;*/
  border-radius: 2px;
  width: 500px;
}

/* line 361, ../sass/matrix.scss */
article.real-dates .block .youtube {
  box-sizing: border-box;
  display: block;
  height: 360px;
  margin: 0 auto;
  max-width: 100%;
  width: 640px;
}
@media screen and (max-width: 640px) {
  /* line 373, ../sass/matrix.scss */
  article.real-dates .block .youtube {
    height: 180px;
    width: 320px;
  }
}
