<link rel="stylesheet" href="/styles/matrix.css">
<div class="matrix-frame {{c_city_meta.id}}">
  <div class="cross left top"></div>
  <div class="cross right top"></div>
  <div class="cross left bottom"></div>
  <div class="cross right bottom"></div>
  <div class="cityxproject">
    <div class="icon-block">
      <img class="icon" src="/images/cities/{{c_city_meta.id}}.png">
      <div class="label">{{c_city_meta.label}}</div>
    </div>
    <span class="x">&#10005;</span>
    <div class="icon-block">
      <img class="icon" src="/images/projects/{{c_project_meta.id}}.png">
      <div class="label">{{c_project_meta.label}}</div>
    </div>
  </div>
  <div class="arrows">
    {% if p_city_meta %}
      <a title="{{p_city_meta.label}}"
         href="/{{lang}}/project_matrix/{{p_city_meta.id}}_x_{{c_project_meta.id}}">
        <div class="arrow left {{p_city_meta.id}}">&larr;</div>
      </a>
    {% else %}
      <div class="arrow left">&larr;</div>
    {% endif %}
    {% if p_project_meta %}
      <a title="{{p_project_meta.label}}"
         href="/{{lang}}/project_matrix/{{c_city_meta.id}}_x_{{p_project_meta.id}}">
        <div class="arrow up {{c_city_meta.id}}">&uarr;</div>
      </a>
    {% else %}
      <div class="arrow up">&uarr;</div>
    {% endif %}
    {% if n_project_meta %}
      <a title="{{n_project_meta.label}}"
         href="/{{lang}}/project_matrix/{{c_city_meta.id}}_x_{{n_project_meta.id}}">
        <div class="arrow down {{c_city_meta.id}}">&darr;</div>
      </a>
    {% else %}
      <div class="arrow down">&darr;</div>
    {% endif %}
    {% if n_city_meta %}
      <a title="{{n_city_meta.label}}"
         href="/{{lang}}/project_matrix/{{n_city_meta.id}}_x_{{c_project_meta.id}}">
        <div class="arrow right {{n_city_meta.id}}">&rarr;</div>
      </a>
    {% else %}
      <div class="arrow right">&rarr;</div>
    {% endif %}
  </div>
</div>
