このサブプロジェクトは名前の通り、女の子と「デートをする」というもの。「日常」を知り、「都市を表現する」する上で、「恋愛」という、多くのアートの根本にある、どんな歴史上の偉人もその生涯で経験した、<font class="underline">全人類普遍のテーマ</font>を扱わないわけにはいかないでしょ！とのことで始まったこの企画。<br><br>
．．．<font class="underline">というのは嘘で</font>、普通に下心満載の、「どうせ色んな都市に住むんだったら、その先々でかわいい女の子とデートしたいよね〜」というのが、始まった本当の理由です。恥ずかしい。しかも、ここ数年ネット上で一つのブームと化している「美女〜〜」みたいなのにも便乗できるのではという、ダブル下心。<font class="underline">下心のミルフィーユ</font>。さらに恥ずかしい。<br><br>
でも、言わせてください！みんな、かわいい女の子との疑似デート、みてみたいでしょう？男女含め、かわいい女の子が嫌いな人っていないでしょう？かわいい女の子は世界を救うでしょう？？<br><br>
そうなんです。みんなのためにやってるんです。みんなのために。そう、<br><em>みんなのため．．．</em><br><br>
なんでもないです。<br><br>
とりあえず、以下、概要となっています！<br><br>
<div id="project-details">
  その都市の女の子におススメデートスポットを紹介してもらう。基本、視聴者がデート相手、という構図。流れとしては、まず待ち合わせて、そこからデートスポットへ案内。デートスポットで体験できるものがあれば、一緒に体験する。おしまい。<br>
  　デートの設定は、彼女が現地の女の子で、男がその都市に来たばかりの留学生。男は来たばかりといい、右も左もわからず、付き合いたての彼女におススメのスポットに案内してもらう、というもの。<br>
  　一つの都市で会う人数は４人。４人×三カ所紹介してもらい＝12カ所。的な。（これ強引に12にかけたことバレちゃってるよね．．．）</div>
<br>
というわけで、各都市、一ヶ月で出会ったみなさんの、おススメデートスポットをご堪能ください！！
