実は「バンド・アーティスト」と同時に、最初に考えたサブプロジェクトの一つ。そして、同時に最もテレビ番組的でもある。世界の家庭料理とか朝ご飯とか屋台とかを紹介する番組やコーナーはいっぱいあるので、そこまで目新しさは無いかもしれない。しかし、自分の中で「食」が人生の中で最も重要なテーマの一つであると同時に（これは今後少しずつ明かされていくのだと思うが）、「人の繋がり」が基本コンセプトの一つである”World in Twelve”にとって、「親」と「子」や「祖父母」と「孫」という繋がりはすごく魅力的に感じた。さらに、基本的に全てのサブプロジェクトが「都市の現状」を表すものなのだが、その中に「都市の変貌」や「時代による変化」を表すものがないと気づき、すごくミクロな個人ベースでもいいので、親や祖父母から「変化」の部分をきいてみたかったのである。<br><br>
さらに言うと、ある年齢になると、「親や祖父母となにかをやる」ということが極端に減るので、このサブプロジェクトを通して、久しぶりに親子が交流するきっかけを作れればいいなとも思いった。<br><br>
なんか柄にも無く真面目なイントロですな。とりあえず以下詳細と。<br><br>
<div id="project-details">
  基本的にはすごくシンプルで、出会った若い人に、親のところに行って、昔食べたごはんを一緒に作る、というもの。作ったごはんのレシピと写真、また団欒している家族の写真をいただき、それらを載せる。<br><br>

  また、親や祖父母には二つの質問を投げる。<br>
  ①その都市は、あなたが初めて住み始めてからどう変わった？<br>
  ②その都市は、これからどう変わると思う？<br><br>

  最終的には、各都市から様々な家庭のレシピが一つずつ集まることになる。それらを収集し、「世界各都市の家庭レシピ集」を作りたい。
</div>
<br>
長い年月、人生の様々な体験を乗り越え、毎日作られてきた「家庭の味」。そこに込められている想いとは、その味とは。
