もともとは何か生放送をできないかと考えていたサブプロジェクトだったが、最終的に日本に帰ってきて展示会が開けるかもという可能性と、サブプロジェクトを基本インタラクティブ性が強いものにしたい、というチームの考えもあり、新サブプロジェクト「12 x 12」に変更。
<br><br>
ベースにある考えは、「12のカウンタなにか」と「12のカウンタなにか」を掛け合わせよう、というもの。しかも、その都市その都市で、新しく面白そうな組み合わせを考えたなら加えてもいいし、前回やってつまらなかったらやめる、など、臨機応変に対応。
<br><br>
こんな説明文だけじゃわからないと思うので、とりあえず以下詳細。
<br>
<div id="project-details">
  ある「12のカウンタ」ともう一つの「12のカウンタ」を掛け合わせてみて、実際にやってみる、というシンプルなサブプロジェクト。
<br><br>
 とりあえず今上がってるのが…
 <br><br>
 ◇「12才」の子供に「12色の色鉛筆」を渡して、その都市をテーマに自由に書いてもらう。
 <br><br>
 ◇本屋に行って「12分」で「12冊」の本を選び、店長にどれがオススメか選んでもらう。
 <br><br>
 ◇最寄りの場所から「12個」の駅・停留所をいき、最終的に大きめな公園に向かい歩き、最初に会った「12匹」の動物の写真をとる。
 <br><br>
 とりあえずこんな感じ。とりあえずいろいろやってみます！
</div>
<br>
みなさまもなんかいい案がありましたら、どしどし連絡ください！！
<br><br>