最後に決めたサブプロジェクトです。なんか、前衛的な、全ての人の琴線に触れ、心に残る、斬新さが光りながら普遍性も薫る、誰もが一言で「素晴らしい」と思えるサブプロジェクトの案が舞い降りてきた時のためにずっと一枠残しておいたのですが、結局なにも降りてきませんでした。才能の限界を感じる日々です。
<br><br>
で、結局、決定したのがこのマーケットプレイス。元々は、表参道にある「Pass the Baton」的な、万国で共有されている「捨てる神ありゃ拾う神ある」と「わらしべ長者」的な感覚をベースとした、サイト内の蚤の市をやろうと思っていたのですが、「売れなかったものはどうするの？持ち運ぶの？」という意見が出て、いろいろ考えた結果旅先ではあまりにもカロリーが高いのではとなり、断念。（すみません、最後に業界風を吹かしました…。）
<br><br>
結局、ただの物販をやる、オンライン上の店です（笑）Tシャツとかグッズとか売ります。一応その都市のカラーはどうにか出そうとしますが、やべえ、本当に才能の限界を感じる日々です。
<br><br>
<div id="project-details">
  上記にあるように、ウェブ上のマーケット。流れは以下の程。<br><br>

  ①各都市にデザイナーなどに会えば、Tシャツのデザインをお願いする。若手のファッションブランドなどがあれば、「よければコラボでも？」とオファー。<br>
  ②売り上げは、全額から制作コストと配当金を引いたものを、すべてデザイナーに還元。<br><br>
うまくいけば、いろいろとグッズやものを売る予定です。
  </div>
  <br><br>
下町っこの商売人魂がちゃきちゃき試されるサブプロジェクト（？）、暖かい目で見守ってください。
