最後に決めたサブプロジェクトです。なんか、前衛的な、全ての人の琴線に触れ、心に残る、斬新さが光りながら普遍性も薫る、誰もが一言で「素晴らしい」と思えるサブプロジェクトの案が舞い降りてきた時のためにずっと一枠残しておいたのですが、結局なにも降りてきませんでした。才能の限界を感じる日々です。<br><br>
で、結局、決定したのがこのマーケットプレイス。若干「楽天市場」臭がするタイトルですが、どちらかというと、「Pass the Baton」的です（言っちゃった）。もともと、「お金」に関するプロジェクトが一つできればいいな、とは思っていました。これは、案を出してくれた友達も結構言っていたことで、「仕事」と「お金」というのは日常において大きな部分を占めるので、それが無いのはおかしい、という考えの基でした。それは自分も思っていたので、「各都市回ってバイトでもするかぁ」とか考えていましたが（これは今でもちょっとアリだと思ってたり）、時間の制約がある中でのアルバイトはリスキーとのことで、とりあえず保留になりました。<br><br>
辿り着いた結果は、ネット上のマーケットプレイス。サブプロジェクトの主軸となるのは、万国で共有されている「捨てる神ありゃ拾う神ある」と「わらしべ長者」的な感覚をベースとした、サイト内の蚤の市。それと同時に、各サブプロジェクトで作られた音源の固形物版やアート作品、”World in Twelve”のグッズなども売られています。詳しくは以下。<br><br>
<div id="project-details">
  上記にあるように、ウェブ上のマーケット。流れは以下の程。<br><br>

  <font style="color:red;">①</font>各都市で会う人から「価値はあると思うけど、正直もういらないか、使っていない」というものを貰う。ものに規制はないが、サイズはあまり大きすぎないのは条件。イメージとしては日用品とか、アートとか。<br>
  <font style="color:red;">②</font>貰ったものの写真を撮って、マーケットプレイスにあげる。基本値段設定は12ドル。それより明らかに高価そうなものは、12の倍数ドル。<br>
  <font style="color:red;">③</font>その都市で購入が決まったものはその都市から発送するが、売れ残った場合は一旦日本に送り、売れてから日本から発送する。<br>
  <font style="color:red;">④</font>売り上げたお金の一部をチャリティ、残りを活動資金に当てる。</div>
<br>
下町っこの商売人魂がちゃきちゃき試されるサブプロジェクト（？）、暖かい目で見守ってください。
