簡潔に述べると、各都市に溢れている様々な「音」を録音し、サンプルにし、重ね・並びあわせ、一つの「音像的作品」にする、といったサブプロジェクト。元々のアイデアは、ニューヨーク大学時代、授業でMatmosについて知った時である。その時取り上げられていたアルバムは「A
Chance to Cut is a Chance to
Cure」だった気がするが、当時のリアクションが「え？手術室にマイク立てて、実際のオペを録音した音でアルバムを作った？なんだそれ？？おもしれえええっっ！！！！！」だったことは今でも鮮明に覚えている。<br><br>
というわけで、手術室ではなく町中で録音を行い、Matmosほど実験的ではなく、もうちょっと聴きやすいオルタナティブな感じにしたのがこのサブプロジェクト。<font class="underline">「その街に流れている音」でその街を表現する</font>という、意外と”World
in
Twelve”のメインテーマをど真ん中から攻めてるやつ。そして、かわいいやつ。<br><br>
ただ、直接中身とは関係無いが、このサブプロジェクトは自分一人で行うものであり、基本的には現地の人を巻き込まないという意味ではちょっと他に比べて特殊かもしれない。<br><br>
以下、概要。<br>
<div id="project-details">
  町中の至る所で音を採取し、サンプルにする。録った音を使用し、一つの「音像的作品」を作り上げる。<br><br>

  ◇基本録音する音は、「自然と聞こえてくる」音。<br>
  ◇しかし、音的に面白そうであれば、意図的に音を出してもOK。（土器を叩いたり、など）<br>
  ◇ストリートミュージシャンなどを録音してもOK。<br>
  ◇人に歌ってもらったりしてもOK。<br><br>

  最終的には全都市のサウンドスケープを集めた一つのアルバムを作成。
</div>
<br>
  正直自分でも、「大きな都市の雑音なんてどこも同じなのではないか？」と疑問をもっているが、果たしてどうなるのでしょう。拝聴いただければ幸いです。
<br><br>
（追記：サウンドスケープの中で、どの音がなんのか？と当ててみるのも楽しいかもしれません。おそらくそのうちネタばらしするんで！）
