もともとはゲレットのアイデア。やっぱり世界中を回るんだから、いろんな人にいろんな質問して、いろんな人生を覗き込まないと、とのこと。もちろんその通りだと思う。ただ、世界中を回って同じ質問をいろんな若者にぶつける、というのは似たようなプロジェクトをアメリカ・メーン州のイケてるお二人がやってるって知ってたので（残念なことにプロジェクトの名前は忘れた…）、まるパクリはやだなぁ、が当初の意見だった。でも、でもでも、”World
in
Twelve”のコンセプト上、<font class="underline">それぞれの都市の人に質問を投げかけ、人生観や価値観を知るって言うのはテーマにどんぴしゃり</font>だし、
<br><br>
<em>あー、もうやっちゃえ！</em>
<br><br>
そのかわりやるならひと味違って！広く深く面白く！！<br><br>
という経緯で出来上がったのがこれ、「12の質問」。文字通り12の質問をいろんな人にぶつけるのだが、どんな質問をぶつけるかが重要。そこで、現れたのがいつも他力本願なコミンズ青年の伝家の宝刀、「みんなに考えてもらう」(Cue:ドラえもんが道具出すときのBGM)！！そして、人に恵まれたコミンズ青年、たくさんの広く、深く、面白い質問が集まった。<br><br>
（みんな、本当にありがとう．．．。うぅ．．．。）<br><br>
<div id="project-details">
  12個の質問を各都市の若者・12人にインタビュー形式でぶつける。<br><br>

  ◇12の質問<font style="color:red;">（質問を受ける対象となりたい方は、絶対に以下の質問を読まないでください！！）</font><br>
  1.もし来月の頭から一か月休みをもらえて、生活費として現金＄2500　渡されたら、どこに行って何をする？そしてなぜその場所を選んだ？ <br>      
  2.あなたの国の民謡を歌ってくれますか？<br>
  3.あなたにとって「死」とはなんですか？死んだらどうなると思いま　すか？<br>
  　⇒海、太陽など、共通イメージの質問も面白いかも<br>
    4.近い」と感じる国は？<br>          
    5.未来についてどう考えますか？自分の未来、そして世界の未来。<br>  
    6.異性・恋人には何を求めますか？<br>    
    7.その都市を代表するものは？場所は？<br>
    8.自分にとって最も大切なものは？<br>
    9.あなたの都市の国旗をリデザインするとしたら、どーする？<br>
    10.結婚はしたい？子供はほしい？子供にはどう育ってほしい？なにをしたい？<br>
    11.人生で一番うれしかった出来事は？逆に怖ろしかった出来事は？<br>
    12.あなたの夢はなんですか？その夢をかなえるために何をしてますか？<br>
    候補：子供の頃の将来の夢はなんでしたか？あなたは子供の時の自分になんて言いますか？<br>
    候補：朝起きて最初に見たいものはなんですか？夜寝る前に最後にみたいものはなんですか？<br>
    （候補の質問はTEST CITY: Tokyoでのお試し）<br><br>

    ◇インタビューを行う場所は、インタビューされているその人が、その都市で最も「自分らしくいられる場所」を選んでもらう。<br><br>

    ◇インタビューの対象は基本「同世代」。若くて20歳、高くて32歳ぐらいか。自分が26なので、±6歳とか。<br><br>

    ◇ただ、例外ケースとして、12の問を上記に当てはまらない人に行うこともある。「おばあちゃんの手料理」のおばあちゃんとか、たまたま会った著名人とか、そこらへんのおもしろいおっちゃんとか。それらのケースは本サブプロジェクト内ではなく、ブログなどで取り上げる。<br><br>

    ◇各質問の尺は基本的には自由。インタビュアーに自由に喋らせるのが目標。<br><br>

    ◇上記にもあるが、基本フォーマットは文章で、インタビュー内容の濃い部分を抜粋して、記事形式にする。映像のアンカット版を載せるかは未定。</div>
<br>
人の根っ子の部分をどれだけ引き出せるか。訊く力と聞く力、どちらも試されますな。
