元々はいろんな都市で女の子とデートをするというものを、急遽変更。いろんな都市で可愛い女の子と会って仲良くなりたいという下心満載の破廉恥なサブプロジェクトだったのですが、「お前が頭にGoProくっつけて女と歩き回ってるの、ぶっちゃけ誰がみたい？」という<font class="underline">当然すぎる疑問</font>と、全体的な仕上がりの<font class="underline">企画物AVのオープニングっぽさ</font>がひどく、変えました。それに、もっと「みんなが見て読んで考えさせられるようなものにしたい！」という最近のコミンズの気持ちも加わり、「美とは…？」になりました。
<br><br>
<div id="project-details">
  都市で出会った該当者（基本的にオール女性）に、過去の質問三つに答えてもらう。
  <br><br>		
  ◇あなたにとって、「美」とは…？
  <br><br>
  ◇あなたの滞在する都市の美しい場所は？シチュエーションもあれば教えてください。
  <br><br>
  ◇あなたの美の定義を踏まえて、友達を一人紹介してください！また、なぜその友達を選んだか教えてください！
  <br><br>
  また、同時に、写真２枚（自分が好きな写真１枚、共通ポーズ１枚）をいただく。
  <br><br>
  前の人から紹介してもらった友達に、同じ質問を投げる！繰り返し。
  </div>
<br>
美とは女性、そして大きくは人類の歴史の中で、最も大きなテーマの一つとなってきたもの。カルチャーの違いが見えたら面白いね！
