「なんでバンコク?」の前に、おそらく結構多くのかたが抱いているだろう「アジアの都市、
少なくね?」という質問にまず答えたい。アジアの都市が少ない理由はいくつかあり、まず現
在東京に住んでいる(一個減)、興味のある主要都市には住んだことはなくともいったこはあ
る(ソウル、香港)、中国本土にはあまり興味がない(ごめん中国人のみんな!でも中華料理
は大好きだよ!)、他の興味のある都市は様々な要因で今回のプロジェクトにあてはまらない
(ウランバートル、サマルカンド、ニューデリー、ジャカルタなど)。そうなると残されたの
は東南アジアで、シンガポールも考えたが、シンガポールよりはタイかベトナムだと思った。
直感的に。<br><br>
バンコクを選んだ一番の理由は、食である。コミンズを知っている者はみなご存知だと思う
が、コミンズは美味しいものを食べることがなによりも好きなのである。そして、第一回のブ
ログ記事で書かれていた「ベジキング」のような脳内グランプリを、各国の食でもよく行って
いる。その中で、タイ料理は必ず毎年トップ3に入るほど、大好きな食なのだ!タイ料理はア
メリカに住んでいていも日本に住んでいても、できれば週一は食べたい。実はベトナム料理も
大好きで、必ずトップ5に入るのだが、やはりタイ料理はダントツなのである。<br><br>
また、親日国で有名なタイ。多くの友達がバンコクを訪れたことがあるが、みな絶賛して帰
って来る。中には帰ってこないで、現地で就職した者までいる。ごはんは美味しい、人は優し
い、美女が多い(なんかこればっかり言ってるな)、物価は安い、地上の楽園なのかと勘違い
してしまう!(映画ハングオーバー2で違うイメージも植え付けられた人も多いとおもうが)<br><br>
とりあえずこれを書いていてお腹が空いてしまった。トムカーガイ飲みながらパッタイ食べ
たい!
