About Pageの「どうやって都市を選んだか」の部分でも述べたが、バルセロナ（というか厳密に言うとスペイン）は決戦投票で選ばれた。Facebook上で「1ヶ月住むならイタリアとスペイン、どっちに住みたい?」という質問を投げかけ、答えを募った。そしたら、僅差でスペインが勝利!というわけで自分の中で予め決めていた、「スペインが勝ったらバルセロナ」という気持ちもあり、バルセロナが都市として決定。(本当はイタリアとスペインどっちも行きたいのだが、さすがにヨーロッパだけで半分と
なる6都市は無いなと思い、断念)
<br><br>
では、スペインの中でもなぜバルセロナなのかというと、これまた人生の中で「意識に残る」部分が多かったからだ。例えばNBAを見ていて好きだったスペイン人選手の多くがカタルーニャ出身だったり、ダリやガウディを輩出していたり(井上雄彦がガウディ展の開催準備として一時期滞在してたと知った時はさらにテンションアップ!)、レアルよりバルサ派だったりして、スペインの中ではバルセロナ意識することが多々あった。
<br><br>
しかも、これに気づいている読者は皆無だと思うが、実は自分が選んでいる都市、基本的に全て海に面している。海が近くないのはパリとミュンヘンだけで、他の国をみてみると、サンパウロよりリオ、マドリードよりバルセロナなど、基本同国同規模の都市では海に面しているほうを選んでいる。自分がそんな海好きだった覚えはないのだが（日本でもほとんど行かないし）、おそらく深層心理を覗いてみればこれもなんらかの憧れか性癖が関わってるのだろう。（半分冗談ね笑）
<br><br>
最後に、この文章を書いている現在、スコットランドは独立せずに英国の一部としての残留が決定したが、一連の騒動の影響もあってか、今カタルーニャの独立希望要請に世界の視線は向いている。おそらく自分がバルセロナに行くときはまだスペインの一部だろうが、「独自の地域」としてのプライドをもつカタルーニャ人の精神を覗けてみれたら面白いのではないかと思う。