<link rel="stylesheet" href="/styles/list.css" />

<div class="list">
  <div class="list-title">Cities</div>
  <div class="box bangkok">
    <img src="/images/bangkok.png" />
    <div class="label">Bangkok</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box melbourne">
    <img src="/images/melbourne.png" />
    <div class="label">Melbourne</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box sanfrancisco">
    <img src="/images/sanfrancisco.png" />
    <div class="label">San Francisco</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box newyork">
    <img src="/images/newyork.png" />
    <div class="label">New York</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box toronto">
    <img src="/images/toronto.png" />
    <div class="label">Tronto</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box riodejaneiro">
    <img src="/images/riodejaneiro.png" />
    <div class="label">Rio de Janeiro</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box london">
    <img src="/images/london.png" />
    <div class="label">London</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box stockholm">
    <img src="/images/stockholm.png" />
    <div class="label">Stockholm</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box munich">
    <img src="/images/munich.png" />
    <div class="label">Munich</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box paris">
    <img src="/images/paris.png" />
    <div class="label">Paris</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box barcelona">
    <img src="/images/barcelona.png" />
    <div class="label">Barcelona</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
  <div class="box istanbul">
    <img src="/images/istanbul.png" />
    <div class="label">Istanbul</div>
    <div class="description">This is description.</div>
    <div class="month">October 2014</div>
  </div>
</div>
