<link type="text/css" rel="stylesheet" href="/styles/article.css">
<link type="text/css" rel="stylesheet" href="/styles/list.css">
<link type="text/css" rel="stylesheet" href="/styles/cities.css">
<style>
  {% for city in items %}
  .image-list .item.{{city.id}} {
    background-image: url(/images/cities/{{city.id}}_gray.png);
  }
  .image-list.top .item.{{city.id}},
  .image-list.{{city.id}} .item.{{city.id}},
  .image-list .item.{{city.id}}:hover {
    background-image: url(/images/cities/{{city.id}}.png);
  }
  .image-list .item.{{city.id}} .meta:before,
  .image-list .item.{{city.id}} .label {
    color: {{city.color}};
  }
  {% endfor %}
  .image-list .item.riodejaneiro,
  .image-list .item.munich,
  .image-list .item.bangkok {
    margin-right: 0;
  }
</style>
{% for city in items %}
<img class="pre-load" src="/images/cities/{{city.id}}.png">
{% endfor %}
<div id="city-list" class="image-list {{item_id}} {% if is_top %}top{% else %}deep{% endif %}">
  {% for city in items %}
  <a anchor="{{city.label}}" title="{{city.label}}" href="/{{lang}}/cities/{{city.id}}">
    <div class="item {{city.id}}">
      <div class="meta">
        <div class="label">{{city.label}}</div>
        <div class="month">{{city.month}}</div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
<div id="city-info">
  {% autoescape false %}
    {{info}}
  {% endautoescape %}
</div>
