おそらく誰もが普通に生活していくうえで、人生においての「やりたいことリスト」を作ってきたと思う。もちろん自分もそうで（むしろ自分の「やりたいことリスト」は膨大すぎて見るに耐えないが）、リスト作成初期段階からの「やりたいこと」の一つが、「世界の4大都市に住む」だった。「世界の4大都市」がどこかというと、ニューヨーク、パリ、東京、そしてロンドンだ。
<br><br>
こう書くと、「ちょっとおいおい！なぜおれの都市は4大じゃねーんだよ！」ってツッコミを入れたくなるかたが多く出て来ると思うので、弁解しますと、当時の自分にこのイメージを植え付けたのは、ストリートファッションの代表格の一つ、Stussyだった。当時のステューシーのアパレルの多くには、「New York, Los Angeles, Tokyo, London, Paris」と書いてあり、そのインターナショナル・プレイボーイ感がとてつもなくカッコ良く感じられた。（なんでロサンジェルスを省き、5大じゃなくて4大だと思っていたのかに関しては、すみません、ここでは触れません笑　本当に気になったらメールください笑）オレもいつかは、世界屈指の国際的メトロポリスを渡り歩き、各都市のイケてるパーリーピーポーとかとクリエイティブでエキサイティングなライフスタイルをイェイーーっと、横文字ばかりになったが、ようは、そんな漠然とした妄想を当時はよく繰り広げていた。
<br><br>
さすがに今はもうそんなライフスタイル系雑誌の特集とかインテリ系ラッパーのミュージックビデオみたいな生活への羨望はなくなったが、それでも、先ほど述べた「４大都市に住んでみたい」という気持ちは強く残っている。
<br><br>
ロンドンはイギリスの首都でありながら、歴史的にみると、「太陽が沈まない」大英帝国の首都でもあったわけだから、500年分のカルチャーが混沌としている。現代我々日本人が食べる「カレー」がインドからではなく、植民地であったインドからイギリス人が持ってきてあの形にした、と知った時は、衝撃が走り、ちょっとだけ「今までイギリスの食文化をバカにしてきてごめんさい」と思った笑。
<br><br>
また、個人的にすごく興味深いのが、イギリスから生まれた多くの児童文学・ファンタジー文学である。「オリバー・ツイスト」「不思議の国のアリス」、「くまのプーさん」、「たのしい川辺」、「指輪物語」、「ナルニア国物語」、「ハリーポッター」など、ここまで多くの世界を作り出し、子供から大人まで夢を与えてきた文学の国はほかにあるだろうか？とつい考えてしまう。（ってか総映画化興行収入とか考えたらヤバいな）。しかもそれに加えシェークスピアやらオスカー・ワイルドやらジョージ・オーウェルやらジェーン・オースティンやらがうじゃうじゃいるわけだから、これは一回調べたほうがいいと思う笑　おそらく水になんか入ってる笑
