バルセロナ(というかスペイン)と同様、最も”World in
Twelve”らしさが出ているのがこのミ ュンヘンの選出だと思う。About Pageの中の、「どうやって都市を選んだか」について記載しているページでも少し触れたが、ミュンヘンはもともと「以前からめっちゃ行きたかった!」と思っていた都市ではなく、色々な外部要因によって選ばれた。<br><br>
都市を選ぶ中でドイツは絶対外せない一つだった。歴史的にみても、プロセイン時代からの
ロシアと西欧の間の立場としてすごく面白いし、近代史でも、悪名になってしまうが、二つの
世界大戦発足の場所でもある。現代史を見てみると、「共産主義」と「その崩壊」としての象
徴であるベルリンの壁の所在地でもある。日本のバブルにより「ものづくり」が基本的になく
なり、農業と観光業に特化したヨーロッパの中で、経済を牽引している国でもある。メルセデ
スベンツ・ポルシェ・BMW・アウディなどを始めとした高級車ブランド、アディダスやプーマ
などのフットウェア・アパレルブランド、そしてニッチではあるが、ライカカメラなどの電気
機器ブランドなど、数々の有名メーカー企業もひしめく。自分の「興味アリ」アンテナがビン
ビンになるのがドイツで、絶対に一度は住んでみたいと思っていた。<br><br>
そんな中、どこに住むべきかはすごく悩んだ。単純に行くと、首都であり、文化的にも経済
的にもバランスがとれているベルリンであろう。しかし、世界中のビジネスがあつまり、なぜ
か飛行機がめっちゃとまるフランクフルトもあれば、南部にあり、独自のビジネスと文化の混
合があるミュンヘンもある。さらに、その二都市よりも大きいハンブルグもあれば、ケルンも
ある。<br><br>
結局なぜミュンヘンに決めたかというと、すごく押されたからである。MONOCLEの世界の
住みやすい都市ランキングでも上位だったし、日本で会うドイツ人やドイツ滞在経験者と話す
と、みな「ミュンヘンはめっちゃいいとこだよ!」と絶賛していた。さらに、近い友人の彼女
がミュンヘン出身だったということもあり、決断した。<br><br>
ベルリンのエレクトロニカ音楽カルチャーとかにも興味はあったが、それは土日とかで遊び
にいって経験しようと思う。とりあえずは、ミュンヘン、よろしくお願いします!
