パリ。花の都、パリ。光の都、パリ。愛の都、パリ。これだけ愛称がある都市もなかなかな
い。どれだけパリがみんなの憧れとなっているかがわかる。誰もが一度は行ってみたい、と思
う、世界でも数少ない都市なのではないか?<br><br>
データをみてもこれは証明されている。観光客が最も多い国でフランスは毎年1位である。
2位はアメリカなのだが、ニューヨーク・ロスアンジェルス・ハワイ・グランドキャニオンな
ど面積的にも観光名所にあふれるアメリカに、パリ一つ(あとは南仏もちょっと?)で打ち勝
ってるわけなので、いかに世界中の人々がパリに行ってみたい!と思っているかがわかる。<br><br>
こっちはなんもデータはないが、なんでこんなにみんな行きたがっているかについては、肌
感覚だが、人生の随所随所でみんなパリ(そしてフランス)のカルチャーに魅せられたことが
あるからだと思う。考えてみれば、子供の頃母親が読み聞かせてくれた絵本の「マドレーヌ」
から漫画「のだめカンタービレ」の留学先のコンセルヴァトワールまで、今まで読んできたた
くさんの書物にパリは描かれていた。人によっての違いは、それがダフト・パンクの音楽なの
か、ココシャネルのファッションなのか、ロブションの料理なのか、ル・コルビュジェの建築
なのかだけであって、人生で何に興味を持っても、どこかで必ずと言っていいほどパリが存在
を表してくる。それがみんなの憧れたるゆえんなのではないか。<br><br>
自分はなんなのかというと、たくさんあるが、一つ憧れるのは、18世紀に繰り広げられてい
たサロン・カルチャーである。貴族の女性たちが社交の場をもうけ、そこで頭も切れて話術の
才能のある思想家たちが、社会と啓蒙と哲学に関して論ずる。モンテスキューやヴォルテール
やルソーが一カ所に集まって議論しているのを想像するだけでテンションがあがってしまう。
しかもそれらの思想が最終的にフランス革命に繋がった訳だから本当にすごい。<br><br>
オープンカフェのテラス席でカフェオレでも飲みながら、どうやったらロベスピエールばり
に(ちょっと例えが残虐すぎるかな笑)社会に影響を与えられるかを妄想するパリのアプレミ
ディ...うーん、憧れるなぁ笑<br><br>
PS:直接関係ないかもしれないけど、街のシンボルの多さもパリはすごいよね。このサイト
でも都市のアイコンを選ぶときに各都市のシンボルを考えたけど、パリはエッフェル塔、凱旋
門、ノートルダムと超有名どころが三つ、そこまで有名じゃなくともそれがパリってわかるル
ーヴル美術館のガラスのピラミッドやポンピドゥセンターとかもあるから、本当にすごい都市
だ。
