昔、夏休みに母の実家である熊本のおばあちゃんの家に遊びに行っていたとき、今日は温泉と熊本城をまわろう、ということになった。湿気と熱さがハンパない熊本で、コミンズ少年はどこでもサンダルで行動していた。しかし、その日はいつも履いているサンダルが見つからず、これでいっか、と健康サンダルを履いていった。
<br><br>
そこから地獄が始まった。
<br><br>
最初は気持ちよかった健康サンダルの凹凸も、一日中履いているとツボを刺激しすぎるのか、最終的には「もしやこれはサンダルではなく剣山?」、と錯覚するほど痛かった。終いには耐えられなくなり、熊本城と、晩ご飯を食べに訪れた鶴屋(市内にある老舗デパート)を裸足で回る、という暴挙に出た。さすがにデパートを裸足で回るのは失礼となり、おばちゃんがビーチサンダルを買ってくれたのだが、そのビーサンには大きくブラジルの国旗が印刷されていた。
<br><br>
今考えてみたら、ずっとブラジルという国に憧れはあったのかもしれない。日韓ワールドカップでも3R(特にロナウド)を応援し、大好きなNBAでも、なぜかブラジル出身の選手は例外無く応援した。イパネマのビーチで、マテ茶を飲みながらシュラスコを食べ、ボサノヴァを聴き、陽気にサンバを踊る人々。全てが「ラテン」という不思議な魔力に纏われた言葉にあやかれる国、ブラジル。華やかなイメージ(そして最終的にはステレオタイプ)に妄想をふけながら、毎日あのビーチサンダルを履いていたのを今でも覚えている。
<br><br>
だからこそ、南アメリカの都市に滞在しようとなったとき、ブラジルが真っ先に上がったし、その中でも、リオデジャネイロがいい、と瞬時に決断した。ワールドカップとオリンピックで、経済的にも政治的にも最近話題の多いブラジルだが(観光本や雑誌での特集もずいぶん増えた)、幼少のころの妄想がいかに現実とかけ離れているのかいないのか、この眼で確かめてみたい。
<br><br>
※また、今回は、どうしてもという想いもあり、一定の期間を比較的に近いサンパウロで過ごそうと思っています。1ヶ月1都市のルールからは若干外れますが、ご了承ください。
