高校生の時、16歳を過ぎたらどこを行くのにも車を運転していたのだが、そのときBGMとし
て、必ずラジオで「94.7fm Alternative
Portland」という局を流していた。DJの選曲のセンス
が抜群で、当時ほとんど音楽の情報をこのラジオ局から手に入れていたのだが(どれだけ素晴
らしい局かについて語り始めたら止まらなくなるので、それは別の機会にとっておく)、ある
日、Baz Luhrmannの”Everybody’s Free (To Wear
Sunscreen)”という曲が流れてきた。<br><br>
この曲、ご存知無いかたに簡単に説明すると、シカゴ・トリビューンのコラムニストであ
ったMary Schimich氏が「卒業式でスピーチをあげるとしたらこんなことを言うだろう」とい
うコラムの内容を、オーストリア人の映画監督であるBaz
Luhrmannが歌詞に変え、曲にした
という、少し不思議なものである。歌詞の中身は、若者にあげるアドバイスなのだが(冒頭に
「この中で確実に言えることは日焼け止めは重要だということだけ」と言っている)、数々で
てくるシュールかつ琴線に触れるアドバイスの中、「ニューヨークと北カリフォルニアには必
ず一度は住むべき。しかし定住はするな。」というのが未だに心に残っている。<br>
※曲の概要(<a
  href="http://en.wikipedia.org/wiki/Wear_Sunscreen">http://en.wikipedia.org/wiki/Wear_Sunscreen</a>)<br>
※曲の歌詞(<a href="http://www.metrolyrics.com/everybodys-free-to-wear-sunscreen-lyrics-baz-
luhrmann.html">http://www.metrolyrics.com/everybodys-free-to-wear-sunscreen-lyrics-baz-
luhrmann.html</a>)<br><br>
その歌詞の内容もあり、人生で絶対に一度はサンフランシスコに住んでみたいと思ってい
た。またそれに加え、シリコンバレーを拠点としたITの先進地帯、カストロストリートをメ
ッカとした見られるゲイの聖地、バークレーを始めとするヒッピーカルチャーの歴史、ニ
ューヨークを抜きアメリカで最も暮らすのにお金のかかる都市となった現状など、サンフラン
シスコは様々な顔を持っている。ポートランドで生まれ育った自分としては、位置的にも文化
的にもシアトルが常に兄貴的存在であったが、サンフランシスコはそれを通り越した、憧れの
従兄弟みたいなものだった。<br><br>
今回の滞在ではサンフランシスコが持つその様々な顔を覗き込み、憧れの従兄弟の実態をつ
かみとれればと思っている。
