<link rel="stylesheet" type="text/css" href="/styles/article.css" />
<link rel="stylesheet" type="text/css" href="/styles/cities.css" />
<article>
  <div class="title">TEST CITY Tokyo</div>
  <div class="block image-right">
    <img src="/images/test_city_tokyo/wxii13.png">
    <p>
    このページにクリックして、この文章を読んでいるあなたが今考えていることを当ててみましょう。
    「あれ?” World in Twelve” って 12 の都市だよね?東京入れたら 13
    じゃね?どゆこと?」<br><br>
    <em>...そーなんです!!</em><br><br>
    (どう?当たった?あれ違った?え、「また今夜もカレーかよ」だった?まじで?まあいいや。とりあえず...)
    おっしゃる通りです。東京を入れたら 13 都市なんです。だからこそ Tokyo は
    Cities ページには入っていませんし、
    トップページでもボタンの右に位置しているし、なにより、Tokyo の隣には” TEST
    CITY” とあるのです!!
    </p>
  </div>
  <div class="block image-left">
    <img src="/images/test_city_tokyo/eric.png">
    <p>
    実は” World in Twelve”、流行りの「リーン」で行おうと元々思っていました。<br>
    「リーン」とはなにか。原点は、世界のトヨタの工場内で随時行われている各方向によるチェックシステムから来ており、その
    後エリック・リース氏が著書「Lean
    Startup」でベンチャー企業にその考え方を当てはめ、世の中に普及させたモノ作りへ
    の取り組み方です。今までは、どの業界でも、「全て出来上がった段階」で製品を流通させていました。「これが完成品です。
    どうでしょう?」と世の中にモノを出していたため、そこからの発展・向上が難しかったのです。それに対して、「リーン」の
    考え方は、まだ出来上がってない段階でモノを世の中に出して、ユーザーに試してもらい、フィードバックをもらう、というも
    の。まだ完成されていないので、改良がしやすく、それによってモノ自体がどんどん良くなっていく。最終的に「これが完成品
    です」と出されたものは、試作段階でチェック入っていたので、本当にいいものが流通される。そういう考え方です。
    (詳しくは:leanstartupjapan.org)
    </p>
  </div>
  <div class="block image-right">
    <img src="/images/test_city_tokyo/lean.png">
    <p>
    で、” World in Twelve”
    も「リーン」に行おうと思ったわけです。これにはいくつか理由があり、まず一つに、実行するプ
    ロジェクトが決まったのはいいものの、実際にそれを形にできるかがわからなかったからです。自分自身、音楽以外のアート関
    連はほぼ素人同然で、そんな中で写真を撮ったり映像を作ったりしなくてはいけないということになり、単純にいうと、各プロ
    ジェクトのテストが必要だと思いました。最初の都市に行く時までには、各プロジェクトにおいて「こういった形のものが作り
    たい」と「ここまで作れれば面白い」、この二つが決まらなければ、世界に出ても自滅するだけだと思いました。</p>
  </div>
  <div class="block image-left">
    <img src="/images/test_city_tokyo/check.png">
    <p>また、テストがあれば、「こいつ、ちゃんとやるんだな」という証拠にもなると思っていました。突然自分の都市にやってきた
      外人に「力を貸してくれ」と言われても、「なんだこいつ?」と不審がるのが普通の人間。その中で、「こういうことをやってき
      たよ」という証拠があれば、より説得力が増すのではないかと思いました。<br>
      という理由で生まれたのが「TEST CITY:
      Tokyo」。テストシティなので、期間も数ヶ月かけてますし、プロジェクトに携わ
      る人数や中身の詳細も実験的になっています。でも、「リーン」なので全てアップされます。そこからいただいたフィードバッ
      クから、各プロジェクトの、統一された「完成形」を作り出します。<br>
      というわけでプロジェクトリストは以下!ぜひチェケラウ(死語)よろしくお願いします!!
    </p>
  </div>
  <div style="text-align: center; font-size: 40px; margin: -40px 0 20px; color: #FC3838; font-weight: lighter;">&mdash;</div>
</article>
{% autoescape false %}
  {{info}}
{% endautoescape %}
