近い友達にも案外知られていないのが、わたくしコミンズリオ、実は大のNBAオタクであるということ。アメリカオレゴン州のポートランドで生まれ育つと、プロスポーツチームがバス
ケのポートランド・トレイルブレイザーズしかないため、スポーツ好きの人は自然とNBAフ
ァンに変わっていく。しかも自分の場合、高校までバスケをやっていたため(もちろん当時は
NBAを本気で目指してた。はぁ...。)、のめり込みようがすごかった。<br><br>
そんな中、普段どこから最新のNBAの情報を集めるかというと、老舗NBA掲示板
「RealGM」である。この掲示板には多くの有識なユーザーがあつまり、日々、NBAやバ
スケットボール全般に対して熱い議論を交わしている。自分はロム専なのだが、毎日この
RealGMをチェックし、NBAについての時事をチェックし、知識を増やしている。<br><br>
しかし、いくら質を担保しようと努力する、レベルの高い掲示板でも、たまに全く関係ない
議論が繰り広げられる。その代表格の一つが、「NBAチームがある都市で、一番住みたいのは
どこ?」というもの。これはNBA関連のニュースが減るオフシーズンに毎年一回ほど立つスレ
ッドで、毎回多くの議論をよぶ。もちろんみな、自分の故郷や現在の定住地を押すのだが、そ
の中でもトロントがすごい。カナダにはNBAチームが一つしかないので(トロント・ラプタ
ーズ)、カナダ中のユーザーがいかにトロントが素晴らしい都市かを謳うのである。<br><br>
トロントは世界有数の国際都市で、様々な人種の人々が行き交い、ゆえにカルチャーが豊富
で、治安も良く、美味しいごはんが食べれるところがたくさんあり、さらに美女も多い。まる
で地上の楽園かのように祭り上げられるトロントについて、いつも「ほんとか?」と半信半疑
で読んでいた自分だが、トロント市民とカナダ人の空前のゴリ押しが自分の興味を引きつけた
のは事実だ。そこからトロント出身の、フランスとベトナムの血を持つ(!)、比類なき美貌
の(!!)、ラナちゃんに会ったのも大きい。(RealGMのみんな、ほんとだったよ!!笑)<br><br>
”World in Twelve”では、アメリカに対するカナダのポジションというのも視野に入れて、さ
らにRealGMのカナダ人ユーザーの言葉を信じて、トロントの全貌を明らかにしていきたい。
