<article>
  <div class="title">About the Cities</div>
  <div class="block image-right">
    <img src="/images/about/earth.png">
    <p>“World in Twelveについて軽く人に説明すると、まずきかれる質問が<font class="underline">「で、どこ行くの！？」</font>である。「世界を回る」が根本にあるプロジェクトなので、どこに行くのかに興味が湧くのは当然だとは思うが、ほぼ欠かさず付随してくる質問が「ええー、なんで〇〇の街、入ってないの？？」である。<br><br>
    いやいや、ちょっと待て。こっちだって色々いきたいさ。ただ都市は 12個しか選べないんだ。選ぶのも大変なんだよ。<br>
    <em>苦肉の選出なんだよ。</em><br>
    ...ごめんなさい、ちょっと感情的になりすぎました。ちゃんとした選出のプロセスがあるんです。説明させてください</p>
  </div>
  <div class="block image-left">
    <img src="/images/about/a-b.png">
    <p><em>選考プロセス1:<font style="color:red;"> 列挙</font></em><br>
    まず、住んでみたいな〜、と思う都市を列挙。この時点で【残:50】ほど。<br><br>
    <em>選考プロセス 2: <font style="color:red;">優先順位</font></em><br>
    次に優先順位をつける。完全に個人のバイアス込みで、都市の「住みたい度」に優劣をつける。「A都市」と「B都市」、一つしか選べないとなったら、どっち？をひたすら脳内で繰り返し、残り全てが「この二つには優劣をつけられない！」となるまで行う。この時点で【残り :30】ほど。<br><br>
    <em>選考プロセス 3: <font style="color:red;">条件</font></em><br>
    次に、プロジェクトを実行する上で欠かせない条件があるので、それらの審査を通し、削っていく。<br>
    ◇<font class="underline">規模</font>：人口的にも、面積的にも、ある程度規模の大きい都市でなくてはいけない。なぜなら、各サブプロジェクトの参加者数を考慮すると、ある程度の人口がないと、該当する人がいないから。また、滞在期間中は友人宅やマンスリーンションなどに住む予定なので、それらが揃えられている規模の都市でなくてはならない。<br>
    ◇<font class="underline">インフラ</font>：このプロジェクトが成り立つためには、随時インターネットにつながる状態にいなくてはいけないため、基礎インフラが整備されているというのも必要条件である。また、この条件で多くの新興国の都市が候補から削られた。この時点で【残り :20】ほど。<br><br>&thinsp;</p>
    <img src="/images/about/friends.png">
    <p>
    <em>選考プロセス 4:<font style="color:red;">推薦</font></em><br>
    最後に、各所からの推薦によって絞っていく。<br>
    ◇<font class="underline">友人・知人</font>:近い人による強いおススメがあったら、それは聞き入れた。また、近い人の出身地であったり、以前住でいたことがある、とかも選出の理由づけとなった。同国内でいくつか候補都市があった場合は、この条件で絞ったケースが多かった。<br>
    ◇<font class="underline">雑誌媒体</font>:Monocle(Monocle Media) の” Top 25 Most Liveable Cities in the
    World”を筆頭に、Brutusマガジンハウス)、Pen(阪急コミュニケーションズ)などの特集・コーナーに眼を通し、参考にした(具体例をあげると、ミュンヘンがこのプロセス4によって決まった。ドイツの中でベルリンかミュンヘン、はたまたランクフルトなどと考えていたときに、Monocle内でのミュンヘンの評価の高さを知り、近い知り合いの故郷だっこともあり、決定した。)この時点で【残り:13】。<br><br>
    <em>選考プロセス 5: <font style="color:red;">決戦投票</font></em><br>
    選考プロセス 4 を読み、あれ？と思ったかもしれないが、そう、まさかの 1都市残ってしまった。どうしてもイタリアかスペインてのどっちかを削らなくてはいけず、自分ではもう決められなかったので、Facebook上にて決戦投票を行った。<br><br><br>
    以下が実際の投稿:<br><br>
    <img id="fb-post" src="/images/about/fb-post.png" style="width: 600px; position: initial; margin: 0;">
  </p></div>
    <div class="block">
    </div>
    <div class="block image-right">
      <img src="/images/about/good.png">
      <p><em>そして結果は...</em><br>
      <font class="underline">【スペイン7票】vs【イタリア5票】！！！</font>(最終的にはスペイン 12:イタリア 9:無2)めでたくスペインに決まり、自分の中で予め決めていた「マドリードよりはバルセロナかなぁ」って気持ちをもち最終12 都市が決定！ということで、選ばれなかった都市のみなさま、本当にごめんなさい。必ずいつの日か訪れます！！第二回とかで！第二回あるかわからないけど！！<br><br>
      ￼そういった経緯で選出された、” World in Twelve”の12都市。<fonstyle="color: red;"><a target="_blank" href="http://www.worldintwelve.com/ja/cities">Cities ページ</a></font>でぜひ確認してみてください！</p></div>
</article>
