<link rel="stylesheet" href="/styles/team.css">
<article>
  <div class="title">Team</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">コミンズ　リオ</div>
    <div class="role">リーダー</div>
    <div class="description"></div>
  </div>
  <div class="image-box"><img src="/images/team/leo.png"></div>
</div>
<div class="person image-right">
  <div class="profile">
    <div class="name">りょうさん</div>
    <div class="role">エンジニア</div>
    <div class="description"></div>
  </div>
  <div class="image-box"><img src="/images/team/ryo.png"></div>
</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">よっしー</div>
    <div class="role">エンジニア</div>
    <div class="description"></div>
  </div>
  <div class="image-box"><img src="/images/team/yoshi.png"></div>
</div>
<div class="person image-right">
  <div class="profile">
    <div class="name">ゆうさく</div>
    <div class="role">デザイナー</div>
    <div class="description"></div>
  </div>
  <div class="image-box"><img src="/images/team/yusaku.png"></div>
</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">やまと</div>
    <div class="role">総合プロデューサー</div>
    <div class="description"></div>
  </div>
  <div class="image-box"><img src="/images/team/yamato.png"></div>
</div>
