<link rel="stylesheet" href="/styles/team.css">
<article>
  <div class="title">Team</div>
  <div class="description">最後に”World in Twelve”のチームを紹介します！紹介分はすべてコミンズの独断と偏見によるもの！</div><br><br>
<div class="person image-left">
  <div class="profile">
    <div class="name">リオ　（コミンズ）</div>
    <div class="role">リーダー</div>
    <div class="description">自分で自分のことを書くのはなんかこっ恥ずかしいですが、業務なので仕方がありません。一言で言うと、「『おもしろい』ことだけをやって人生を生きていけないかなー」、って本気で模索している、妄想が大好きな半分日本人半分米国人です。あと、インナーソウルの奥深くには、中年のおっさんと中二病の少年が仲良く同居してます。ここ重要、テストにでます。プライベートでは基本、マンガか本を読んでいるか、独自で編み出した根拠のない理論を、偉そうに知人友人に語っています。”World in Twelve”では実際に都市に行く役、まとめ役。テレビ局にいた。</div>
  </div>
  <div class="image-box"><img src="/images/team/leo.png"></div>
</div>
<div class="person image-right">
  <div class="profile">
    <div class="name">りょうさん</div>
    <div class="role">エンジニア</div>
    <div class="description">エンジニアさん。全体統括と主にフロントエンド担当。プリントがかわいいTシャツを、マッチョだからピチピチに着こなしている、心優しきお兄さん。LINEのスタンプにいて欲しいと思うのは、コミンズだけではないはず。日本が誇る最高学府を出て、某超大手外資系検索系IT企業にはお勤めとは思えない、エリートイズムを全く感じさせない物腰の柔らかさの持ち主。コミンズに「まさかここまでやらされるとは．．．」と普段から思っている、「リオ被害者の会」代表（ごめんこれは嘘．．．だよね？）</div>
  </div>
  <div class="image-box"><img src="/images/team/ryo.png"></div>
</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">よっしー</div>
    <div class="role">エンジニア</div>
    <div class="description">エンジニアさん。主にバックエンド担当。基本的にヘリコプターから飛び降りてるか、獣道をチャリンコで下っているか、思わぬ降雪を利用して六本木通りを板で滑っているか、跨ぐだけでタマヒュンしそうな真っ赤なバイクで爆走している、冒険男。それでコードも書くから、世界って広いよね。しかも前出某検索エンジンの安定を離れ、外資系ITベンチャーに転職してるから、もういよいよだね。ただ、最近東京で増えている本当に美味しいグルメバーガーよりバーガーキングがうまいと思っている所だけは理解できない。</div>
  </div>
  <div class="image-box"><img src="/images/team/yoshi.png"></div>
</div>
<div class="person image-right">
  <div class="profile">
    <div class="name">ゆうさく</div>
    <div class="role">デザイナー</div>
    <div class="description">デザイナーさん。フリーです。でもスーパーフリーではありません（あ、ここ、編集でカットね）。プロフィール画はちょっと気持ち悪いですが、心優しき、センスの光るデザイナー。ラーメンが好きらしく、打ち合わせ前に彼と何回AFURIとTETSUを食べたか数えきれません。あと、どれだけイジっても、タバコをやめようとはしません。ムサビ卒。この前デザインを担当したプロジェクトがグッドデザイン賞を受賞する。しかし、賞のサイトでは依頼者の名前しか表記されてなく、それに激怒するコミンズを宥める日々を送る。コミンズに「まさかここまでやらされるとは．．．」と普段から思っている、「リオ被害者の会」理事（これは嘘じゃないな笑）。</div>
  </div>
  <div class="image-box"><img src="/images/team/yusaku.png"></div>
</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">ヤマト</div>
    <div class="role">総合プロデューサー</div>
    <div class="description">リア充でもないくせにFacebookのフロフィール画像を変更するだけで200「いいね」がつく、なんかすげーやつ。宇宙と声優とITの難しそうな理論をこよなく愛している。最近会うたびに結婚式の2次会帰りか2次会の司会の準備をしている気がする。気のせいかもしれないが。一応肩書きだけをみたら業界人のはずなのだが、そのカラーは皆無。コミンズといっしょに「どっかにマスい（マスメディアっぽい）ことはねぇーがなぁー？」と思いながらも、「それっぽい場所」の近くの喫茶店で二人でキョロキョロしながら茶を啜るのが限界。”World in Twelve”では、「総合プロデューサー」（コミンズがかってに命名）。</div>
  </div>
  <div class="image-box"><img src="/images/team/yamato.png"></div>
</div>
