<article>
  <div class="title">About the Cities</div>
  <div class="block image-right">
    <img src="/images/about/earth.png">
    <p>Whenever I talk about the “World in Twelve” to friends and people I meet, I often get the question<font class="underline"> “So, where are you going?” </font>It’s understandable—this project focuses on going around the world, so it’s only natural for people to wonder where I’ll be staying. However, once I stop listing my destinations, I always get followed with the exclamation, “What!? You aren’t going to wherever-ever?? How could you leave it out!?”
    <br><br>
    To which I can really only answer, “Yeah, dude, I’d love to stay in every single place everyone’s ever mentioned, too. But in the end, I can only choose 12 cities. And it ain’t an easy task choosing, bro.”
    <br><br>
    Yes, it was a difficult task choosing the cities. Obviously there are many more than 12 cities that I would love to live in, so I had to go through a thoughtful process. This is how it was done.</p>
  </div>
  <div class="block image-left">
    <img src="/images/about/a-b.png">
    <p><em>Process 1:<font style="color:red;"> List</font></em><br>
    First, I listed all the cities in the world that I would like to live in, once in my life. Anything that popped into my head, I listed. This gave me about 50 cities.
    <br><br>
    <em>Process 2: <font style="color:red;">Priorities</font></em><br>
    Next, I prioritized my list of cities. I compared “City A” with “City B” in my head, went through all my biased criteria, and asked myself, “If I could only live in one city, which one would I choose?” I did this task with every single city until I came to the “Holy crap, I can’t choose between these two! I just can’t!” situation for each one. This left me at around 30 cities.
    <br><br>
    <em>Process 3: <font style="color:red;">Conditions</font></em><br>
    I proceeded by putting the remaining cities through the conditions test. There were two main conditions that had to exist in my cities so I could properly conduct the entire project.<br>
    ◇<font class="underline">Size</font>：Each city had to be big enough both in population and area  for me to be able to conduct all my sub-projects. Since all my sub-projects rely heavily on the connections and relationships between people (and the fact that I was hoping to be able to stay with a few of them), each city had to be at least of a certain size.<br>
    ◇<font class="underline">Infrastructure</font>：Another intangible that the <i>World in Twelve</i> relies heavily on is―wait for it—the internet! Since uploading blog posts and progress on my sub-projects is a daily routine central to conducting this project, stable internet connection, and other basic infrastructure was essential. This eliminated many of the cities located in developing countries, and left me at around 20 cities.
    <br><br>&thinsp;</p>
    <img src="/images/about/friends.png">
    <p>
    <em>Process 4:<font style="color:red;"> Recommendations</font></em><br>
    Lastly, I looked for recommendations from outside sources.
    <br>
    ◇<font class="underline">Friends and Family</font>: If friends or family members heavily recommended a certain city, I took that into account. Also, if friends or family were from/are living in a certain city, I took that into account. This played a role in choosing cities from larger nations, where there were numerous cities as possibilities.
    <br>
    ◇<font class="underline">Magazines</font>: I also took magazines (as opposed to websites, which I really didn’t look at) and their recommendations into account. Monocle (<i>Monocle Media</i>) and its annual “Top 25 Most Liveable Cities in the World” issue had a big influence, as well as Japanese lifestyle magazines Brutus (<i>Magazine house</i>) and Pen (<i>Hankyu Communications</i>) and their semi-monthly special features. This left me with 13 cities.<br>
    (e.g. The choice of Munich was heavily based onprocess #4. I was certain I would choose Berlin until 1, I saw Munich’s rank in Monocle, 2, many of the Germans I met absolutely raved about Munich, and 3, a close friend’s girlfriend happened to be from Munich.)
    <br><br>
    <em>Process 5: <font style="color:red;">Face-Off</font></em><br>
    I think all of you who have read up to this point have noticed that process #4 left me with 13 cities, one too many. I just couldn’t decide between Italy and Spain. And I knew whichever country I chose, I would be thinking about the other the next moment. It was impossible. I was stuck. So I did the most unmanly thing possible—I put my fate in the hands of Facebook. 
    <br><br><br>
    This was the actual post I posted (in Japanese, since I was living in Japan.):<br><br>
    <img id="fb-post" src="/images/about/fb-post.png" style="width: 600px; position: initial; margin: 0;">
  </p></div>
    <div class="block">
    </div>
    <div class="block image-right">
      <img src="/images/about/good.png">
     <div id="project-details">
     <p><br>
     Translation: To all my wonderful Facebook friends and real friends on Facebook (hehe). I have one question to ask you, and it would be a blessing if you could take a moment and answer it.
     <br><br>
     Q: If you could live in one month, in either Italy or Spain, which would you live in??<br><br>
     The only conditions are:<br>
     1. Its August<br>
     2. You can only live in one city in that country<br>
     3. You’re living expenses are US$2000 (Not including flight tickets)<br><br>
     It would be great if you could give reasons for your choice!<br><br>
     After the first 12 posts, I will make my decision. If there is a tie at 6 vs 6, the 13th post will be the deciding vote.<br><br></p></div>
     
     <p><em>The result was…</em><br>
      an epic face-off for the ages, where <font class="underline">Spain defeated Italy, 7 posts to 5. </font>(The final poll count was Spain:Italy:Invalid = 12:9:2)
      <br><br>
      So Spain it was. (If I were ever to regret my decision, I now could make it the fault of my Facebook friends lol). I decided beforehand that Barcelona would be my city if Spain was chosen, so there I had it. <b>12 cities</b>. 
       <br><br>
      And to all the cities that weren’t chosen. I will visit you, one day. Maybe in episode 2. Who knows if there will be an episode 2. But I will get there somehow, someday.
      <br><br>
     So that’s how the cities were chosen. Check them out in more detail at the <fonstyle="color: red;"><a target="_blank" href="http://www.worldintwelve.com/en/cities">Cities page</a>.</font></p></div>
</article>
