<article>
  <div class="title">FAQ</div>
  <div class="block">
    <p>YAY!! Q&A time!! Everyone’s favorite!! I’ve listed a few Frequently Asked Questions, but if you’ve got any of your own, don’t hesitate and contact us at<a
      href="mailto:contact@worldintwelve.com">contact@worldintwelve.com</a></p>
  </div>
  <div class="block">
    <p>
    <em>Q:Why “12”?</em><br>
    A: Probably the question I get the most, and the answer is, because it just felt right. I’m big on gut feelings, and the number “12” just had that feeling. For a more logical, left-hemisphere-of-the-brain type of answer, I really thought the maximum amount of time I could spend around the world was one year, and the minimum amount of time that I considered as “living” was one month, so that left me with the number 12. And 12 just felt right. So much for logical.
    <br>　
    This maybe a tangent, but talking with my friend Yamato, we wondered why so many aspects in life are connected with the number 12. 1 year = 12 months, AM/PM = 12 hours each, Zodiac = 12 signs, 1 foot = 12 inches, scale = 12 notes (including sharps and flats), and if we looked for it, there are probably many more cases. The internet (oh, the great internet) provided us with many different reasons and answers, but really, all that I needed to know was that humans have been living with the number 12 as a central part of their lives for many, many years. </p>
  </div>
  <div class="block">
    <p>
    <em>Q: Why the color red?</em><br>
    A: As you can see, this site is very red. And red is not even my favorite color. One reason is, I was looking for something simple, with maybe a few colors, and I thought a base of black would be kind of dull. So I threw something along the lines of “Simple, yet polished, pop, but not too childish, fun, but not bizarre” to the designer, Yusaku, (I felt like Merryl Streep in “The Devil Wears Prada”) and he came back at me with this. Wow, dude’s pretty good. 
    <br>   According to Yusaku, there are various reasons for the color red. One, the color red signifies passion and the “fighting spirit” (very Japanese!). Also, in Japanese, there is the saying “akai-ito (赤い糸)” or “red string,” the symbolization of the fateful connection between two people. Fits perfectly for this project right? 
    <br>Wow, this dude is good.</p>
  </div>
  <div class="block">
    <p>
    <em>Q: Where’s the funding coming from?</em><br>
    Another question I get often. Most of the funding comes from the money I saved as a salaryman in Japan. However, we will be looking at cloudfunding and sponsors too. There will be an account balance open to the public to prove that we aren’t just hanging around and buying beer with your money.</p>
  </div>
  <div class="block">
    <p>
    <em>Q: What is your ultimate goal?</em><br>
    A: This question I really only get from friends who personally know me, and are worried that since I quite my job, I’ll just be a bum on the street once this project is over (and they might be right). Of course I do have plans for after the conclusion of this project, and if every thing goes as planned, this project is just the first step of a long, long journey. However, explaining all this would probably take up a chunk of your afternoon, so if you’re REALLY interested, please contact me directly!!
    <br><br>
    So, those are the FAQs for now. If I get a number of similar questions, I’ll add on to this list. Again feel free to contact us at<a href="mailto:contact@worldintwelve.com">contact@worldintwelve.com</a></p></div>
</article>
