<article>
  <div class="title">About the Projects</div>
  <div class="block image-right">
    <img src="/images/about/konkan_en.png">
    <p>Again, when I talk about or explain this “World in Twelve” project to friends and peers, I always get the questions “So, where you going?” However, I rarely get the question, “So, what are these ‘sub-projects’ you talk of? Enlighten me.” It’s an interesting case. But in actuality, these sub-projects are the true foundation of the <i>World in Twelve.</i><font class="underline"> They are what differentiate this entire project from similar propositions.</font> They are the basis, the root, the core, the Splash Mountain to Disneyland, the sunflower to Van Gogh, the crème to the OREO, the... (wait, sorry, lost on a tangent...where was I again?)</p></div>

  <div class="block image-left">
    <img src="/images/about/focus.png">
    <p>Anyway, because these sub-projects are so important, there was obviously careful reasoning involved in choosing them. As I stated in the “What is the World in Twelve?” page, my goal in this project is to <font class="underline">“Portray, Express, and Compare the Cities”</font> I live in.
   <br><br>
    Ok. I can hear it already. “Hey bro, guess what you <i>also</i> said in that first page? That you don’t like people with superficial reasoning. What is this? ‘Portray, Express, and Compare the Cities’ that you live in?? That’s about as superficial as you can get buddy, you self-contradicting flip-flopping #$@%!!!!”----whoa, whoa, whoa!! The emotions!! Let me explain!!</p></div>
  <div class="block image-right">
    <img src="/images/about/art.png">
    <p><em>① Art</em><br> 
    First of all, <font class="underline">most of the “expressions” are based on varying forms of art</font>. This includes music, film, visual art, poetry--everything. There are various reasons for choosing art as a form of expression, with the biggest one being, obviously, because I like all forms of art. However, I’m also interested in education, politics, and social issues, but in most cases those topics are already addressed by either educational organizations or professional think-tanks, so I decided against using them as themes for my sub-projects. Similarly, I’m not using already famous or well-known artists or art as themes, because going through the rights is really annoying. (I was in the Japanese TV industry...don’t get me started on how annoying getting the rights for things are haha). I will, however, address some of these topics (from social issues to mass media) in my blog, which is separate from the sub-projects.

</p></div>
  <div class="block image-right">
    <img src="/images/about/base.png">
    <p><em>② People and Connections</em><br>
    Secondly, the sub-projects that aren’t based on art, are <font class="underline">based on people, and the connections among them.</font> Actually, the “people” aspect the <i>World in Twelve</i> is the second most important, following “Portraying, Expressing, and Comparing the Cities.” As I stated in the “What is~” page, one of my goals was to experience the daily lives of the locals. This fact requires me to connect with people, and peek into their lives. 
    <br><br>
    Unlike many similar projects, the <i>World in Twelve</i> doesn’t have much of a “abruptly talking to and meeting random locals off the street” side to it. The entire project is based on the connections among friends and peers, and how far this can take me. It reflects the popular idea: <a target="_blank" href="http://en.wikipedia.org/wiki/Six_degrees_of_separation">“Six degrees of separation.”</a> 
<br>&thinsp;
</p>
    <img src="/images/about/sns-friends_en.png">
    <p>We now live in a world where social networking enables us to be connected with one another 24/7. We can catch up on vital information such as Emily’s vegan breakfast and Vlad’s new favorite band, whenever we want. However, social networking has also reduced many “friends” into a number pasted on a corner of our tablet screen. The “connection” aspect of the “World in Twelve” brings those numbers back to the tangible world.</p></div><div class="block image-right">
    <img src="/images/about/unique.png">
    <p>
    <em>③ Independence</em><br>
    Another aspect I took into account when choosing my sub-projects was, that <font class="underline">each one would be independently interesting</font>, but still would fit the “Portraying, Expressing, and Comparing the Cities.” theme as a whole. 
    <br><br>
    This is difficult because I know there will always be the criticism that my sub-projects are all  too shallow. This is a valid argument, since I’m trying to do 12 sub-projects in one month, and in a wide spectrum, one month really isn’t much time.  I could, say, stay in one city and try to find 12 up and coming bands in a year, and that would still be a great project. Much more centered and much deeper. However, when I looked at my ultimate goals (in life, not just this project), and the fact that the one month time limit was unalterable, I decided that doing a wide range of sub-projects would be better. 
</p></div>
  <div class="block">
   <p>So, that’s the  <font class="underline">“Portraying, Expressing, and Comparing the Cities”</font> part explained in more detail. Still superficial?? I’ll just have to apologize then…(I feel like I’ve been doing a lot of apologizing these last few pages... What is this? I thought this was my project? haha)
   <br><br>
   Oh, and lastly, thanks to everyone who helped with throwing out ideas for the sub-projects. I wouldn’t have come this far without you guys!! </p></div>
</article>
