<article>
  <div class="title">Rules</div>
  <div class="block">
    <p>
    <em>What are the 12 rules?</em><br>
    The 12 rules are rules I set on myself that I must follow during my stay in each city. They are chosen through my interests, and are set at a level which I believe is enough to spice up my stay, but nothing that goes out of the realm of “daily life.” People who visit the site can check if the rules have been properly followed through the blog or dashboard page. Every rule gets reset after each month. If a rule is broken or forgotten during the stay, a penalty is served.
    </p>
  </div>
  <div class="block">
    <p>
    <em>ルール（予想必要金額）</em><br>
    </p>
    <ol>
      <li><font class="underline">Use daily products</font>
      <br>Because, you know, daily lives are centered around daily products.</li>
      <li><font class="underline">Cook a meal</font>
      <br>Because, you know, I can’t eat out every day.</li>
      <li><font class="underline">Go to a club</font>
      <br>Because, you know, I’m getting there in age but, one night out should be fine, right?</li>
      <li><font class="underline">Go to a nice restaurant</font>
      <br>Because, you know, I'm limited in funding, but one meal can't hurt, right? </li>
      <li><font class="underline">Read a book</font>
      <br>Because, you know, I gotta get in the feel. </li>
      <li><font class="underline">Go to a sports event</font>
      <br>Because, you know, I gotta experience it live. </li>
      <li><font class="underline">Go to a sports bar</font>
      <br>Because, you know, its where the real fans are at. </li>
      <li><font class="underline">Go to underground theater</font>
      <br>Because, you know, I can see true imagination at work.</li>
      <li><font class="underline">Go to a jazz club</font>
      <br>Because, you know, I gotta check out that city’s jazz scene.</li>
      <li><font class="underline">Go to a record shop</font>
      <br>Because, you know, it's where the real treasures are hidden.</li>
      <li><font class="underline">Go to a library and used book store </font>
      <br>Because, you know, it used to be a sub-project lol</li>
      <li><font class="underline">Take a vacation</font>
      <br>VACATIONNNNN!!!!!!</li>
    </ol>
  </div>
  <div class="block">
    <p>
    <em>What if I don’t follow through on the Rules?? </em><br>
    If I, or one of the members during that stay breaks, forgets, or doesn’t follow through on one of the rules, a penalty must be served. The penalty is: For each rule broken, a present must be bought for the viewers of the site. Viewers can put their name in a raffle, and a winner will be chosen randomly. 
    <br><br>
    The number of rules broken will be released on the 1st day of the next month’s stay, via blog. The winners will be announced on the 10th, and the products will be shipped on the 25th or the next month. 
    <br><br>
    *Even if no rules are broken, I’m thinking of having at least one present for the viewers.  
    </p>
  </div>
</article>
