<link rel="stylesheet" href="/styles/team.css">
<article>
  <div class="title">Team</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">Kominz Leo</div>
    <div class="role">Leader</div>
    <div class="description">Leo feels kind of funny writing about himself (especially in the third-person), but it’s his task, and what must be done must be done. Leo is a half American, half Japanese dude who grew up in Portland, Oregon, USA. He actually, truly, (and maybe even delusionally) believes that its possible to survive off of only doing what he thinks is fun, imaginative, and stimulating. An early teen version of him, and an old geezer version happily live together in his inner soul, forever unchanged, occasionally making appearances in the outer world. He spends his free time either reading, or thinking up obscure, fact-less theories that he will eventually condescendingly lecture about to his friends. He worked at TV Asahi in Tokyo before conducting the <i>World in Twelve</i>.</div>
  </div>
  <div class="image-box"><img src="/images/team/leo.png"></div>
</div>
<div class="person image-right">
  <div class="profile">
    <div class="name">Ryo</div>
    <div class="role">Engineer</div>
    <div class="description">Ryo always comes to meetings in T-shirts printed with cute characters, all of which are too small for him because he is a naturally built man. Leo thinks Ryo himself should be made into a character, maybe for WhatsApp stickers or something, but that’s for another project. Graduating from University of Tokyo, and currently working at Google Japan, he is a kind hearted, gentle-mannered, genuinely happy human being (no one knows where all his elitism went). He is the head of the self-governing committee INTLWMMDTMI, short for “I Never Thought Leo Would Make Me Do This Much Initially” (just kidding...hehe)</div>
  </div>
  <div class="image-box"><img src="/images/team/ryo.png"></div>
</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">Yosshi</div>
    <div class="role">Engineer</div>
    <div class="description">Yoshi is either jumping out of a helicopter, free riding down woodland hills on a mountain bike, snowboarding down the streets of Tokyo after a blizzard, or blasting past traffic on his bright red Ducati. That, or writing code. I mean, how cool is that? After spending time at Google Japan, Yoshi now is at Videology (Japan?), so even that’s pretty cool. But one thing I still don’t get is that he prefers Burger King over all these incredible gourmet burger shops that now exist in Tokyo. Ah well.</div>
  </div>
  <div class="image-box"><img src="/images/team/yoshi.png"></div>
</div>
<div class="person image-right">
  <div class="profile">
    <div class="name">Yusaku</div>
    <div class="role">Designer</div>
    <div class="description">Although his profile pic is kind of disturbing, Yusaku is a nice man, with an amazing sense in design (at least Leo thinks so). After graduating from Musashino Art University, he is now a freelance designer, simultaneously working in various projects (a few of which have won various awards, including the Good Design award for 2014). A lover of ramen noodles, the number of bowls devoured by both Yusaku and Leo before their meetings climb to astronomical amounts.  Oh, and he won’t quit smoking. Along with Ryo, Yusaku is a prominent figure in the INTLQMMDTMI, short for “I Never Thought Leo Would Make Me Do This Much Initially” (This time I might not be kidding...)</div>
  </div>
  <div class="image-box"><img src="/images/team/yusaku.png"></div>
</div>
<div class="person image-left">
  <div class="profile">
    <div class="name">Yamato</div>
    <div class="role">Project Manager</div>
    <div class="description">Yamato is one of those rare figures that gets over 200 likes on Facebook by just changing his profile picture, and he’s not even famous. Yamato is a lover of astronomy, anime vocalists, and esoteric-yet-practical internet theories. It seems every time Leo meets him, he is coming back from, or preparing for a friends’ wedding party. How his personal budget stays intact, nobody knows. Yamato and Leo often aspire on doing something “massy” ( = mass-y, a term they made which basically translates to “I want to meet someone famous or beautiful or ideally both”), and head out to “those types” of neighborhoods, but are too chicken and usually end up sitting at cafe’s sipping on tea, talking about the latest obscure internet phenomena. He currently works at Dentsu, the ad-agency-which-must-not-be-named.</div>
  </div>
  <div class="image-box"><img src="/images/team/yamato.png"></div>
</div>
