「なんでバンコク?」の前に、おそらく結構多くのかたが抱いているであろう「アジアの都市、少なくね?」という質問にまず答えたい。アジアの都市が少ない理由はいくつかあり、まず①現在もう東京に住んでいる(一個減)、②興味のある主要都市には住んだことはなくとも訪れたことはある(ソウル、香港)、③中国本土にはあまり興味がない(ごめん中国人のみんな!でも中華料理は大好きだよ!)、④他の興味のある都市は様々な要因で今回のプロジェクトにあてはまらない(ウランバートル、サマルカンド、ニューデリー、ジャカルタなど)。そうなると残されたのは東南アジアで、シンガポールも考えたが、シンガポールよりはタイかベトナムだと思った。直感的に。
<br><br>
その中でバンコクを選んだ一番の理由は、食である。コミンズを直接知っている者はみなご存知だと思うが、コミンズは美味しいものを食べることがなによりも好きなのだ（ポケモン図鑑とかに載ってそうな紹介だな）。そして、第一回のブログ記事で書かれていた<a
  href="http://jp.blog.worldintwelve.com/post/97985275861/first-post">「ベジキング」</a>のような脳内グランプリを、各国の食でもよく行っている。その中で、タイ料理は必ず毎年トップ3に入るほど、大好きな食なのだ!タイ料理はアメリカに住んでいていも日本に住んでいても、できれば週一は食べたい。実はベトナム料理も好きで、必ずトップ5に入るのだが、やはりタイ料理はダントツなのである。
  <br><br>
また、親日国でも有名なタイ。多くの友達がバンコクを訪れたことがあるが、みな絶賛して帰って来る。中には帰ってこないで、現地で就職した者までいる。ごはんは美味しい、人は優しい、美女が多い(なんかこればっかり言ってるな)、物価は安い、地上の楽園なのかと勘違い
してしまう!(映画ハングオーバー2で違うイメージも植え付けられた人も多いとおもうが笑)
<br><br>
とりあえずこれを書いていてお腹が空いてしまった。トムカーガイ飲みながらパッタイ食べたい!
