「もし地球の全てが一つの国だとしたら、イスタンブールがその首都となるだろう」ーーこれはナポレオンの言葉である。また、フランスの詩人ラマルティーヌは、「もし人生で一度しか「眺める」という行為をおこなえないとしたら、その一度でイスタンブールを眺めよ」と言っている。どんだけすげえんだイスタンブール笑
<br><br>
自分が初めてイスタンブールという言葉に触れたのは、幼少の頃母親が「飛んで〜イスタンブール〜♪」と歌っていた時である。その時は、「イスタンブールってなんか面白い響きの都市だな」と思っていたが、後にこれが庄野真代という歌手の、日本レコード大賞を受賞した、数々のアーティストがカバーしていると名曲だと知った。また数年後、アメリカでも映っていた衛生放送版NHKで町歩きの番組を見ていたら、イスタンブールが特集されていた。軽く見ていたつもりだったが、都市の独特の艶やかさに(都市を表現するのには変な形容詞だがこれしか思いつかない)画面越しに大変魅了されたのを覚えている。さらに時折、「なんだこれは?」と思わせるレベルの美女が見切れていたりして、絶対一回はここに行かなきゃ、と強く決心したのも覚えている。あれは確か15歳ぐらいだったか。
<br><br>
歴史を知るにつれ、さらにイスタンブールの特異性を学んでいった。古代ギリシャ時代での名前はビュザンティオン、後に東ローマ帝国の首都となった時の名はコンスタンティノーポル、オスマン帝国に侵略され、後に首都となったときに現在のイスタンブールとなった。実に二千年の歴史を超える。三つの帝国の重要都市だったことに加え、常にヨーロッパとアジアの繫ぎ目とも言える地理的位置だったことを考慮すると、どんだけこの都市には歴史と文化が詰まっているんだ、と想像するだけでおったまげてしまう。そりゃナポレオンもあんなこと言うわ。
<br><br>
ちょっとイスタンブールに対しては「高校のマドンナである部活の先輩の彼女」並みの憧れがあるんで、どこまで客観的になれるかわかりませんが、とりあえず、アムロ、行ってきます!!(途中から壊れてきましたね...)