教養と学がありそうな人が読んでいる雑誌では、定期的に各国や各都市のランキングが行われるが(おそらくみんな好きなんだろう)、その中でもインフラや教育、社会福祉や全体的な「住みやすさ」などのいわゆる「いい」ランキングでは、基本同じ国がいつも上位に名前をあげている。それらはスカンジナビアの国々、西欧の小国(スイス・オランダ・ルクセンブルグなど)、カナダ、そしてオーストラリアである。ここでいつも「ん?」となるのがオーストラリアだ(カナダも多少...笑)。「え、だってちょっと前まではイギリス帝国の罪人の島流し場所でしょ?いつの間にこんな高評価になってるの??」、こんな感じの冗談がよく脳裏を横切る。
<br><br>
歴史の部分もそうだが、ずっとイギリス領であって、国としての歴史が100年ちょっとの(アボリジニ関連のお話は一旦おいときます)、さらに一国が一つの大陸であるほどの規模のオーストラリアが、どうやってこんなに「住みやすい・住みたい」場所としての価値を高めていったのかがすごく気になる。上記段落であげたほかの国を見てみると、スカンジナビアはヨーロッパの中でも独自の歴史を辿ってきたケースが多く、スイスはご存じ永久中立国、ルクセンブルグやリヒテンシュタインなどは地図で見つけられないレベルの面積と、どれも人口的・サイズ的・位置的にも「自治」がしやすいのが特徴である。カナダは世界で二番目の面積を誇る大国で、イギリス連邦との関係や歴史をみるとオーストラリアに似て特殊だが、カナダ(とその主要の都市)は地理的にアメリカ合衆国に隣接していて、(こういうとカナダ人は怒るが)文化や経済の多くの面でアメリカから影響を受けている。そう考えると、「アメリカのいい部分だけを抽出した利口な国」ということで腑に落ちる。
<br><br>
しかし、ここでオーストラリアを見てみたい。国として「自治」の歴史が長くあるわけでもなく、面積は世界で6位、位置は南半球の端っこ、近隣国は太平洋を挟んでニュージーランド、パプアニューギニア、インドネシア、そしてオセアニアの諸国――いったいどうやって世界で高ランクをたたき出しているのかが非常に興味ある。（モノの輸出入だけでも相当コストがかかりそうだ）
<br><br>
シドニーよりメルボルンを選んだ理由は、単純に多くの知り合いがメルボルンを訪れたり滞在していて、絶賛していたからである。確かに、写真や動画を見てみていても、実に気持ちよさそうで住みたくなる都市だ。滞在経験のある彼ら彼女らに自分がもつ「オーストラリアの謎」を訊ねてみることもできたが、そこはやっぱり百聞は一見にしかず。自分の目で確かめてみようと思う。
