スカンジナビアの諸国に刺激された人間はこれを読んでいる人の中にも多くいるのではないか。「え、あんなに税金払ってていやにならないの?」「え、大学まで全ての教育が無料?医療も無料?てか社会福祉のほとんどが無料?そんなこと可能なの?」「え、冬ってあんなにずっと寒くて暗いの?鬱にならないの?」「え、なにこの北欧インテリアの独自性?この色、シンプルさ、これ、なにを表しているの?」「行政からカルチャーまで、すべてがどこか異質でどこか面白い、スカンジナビアの諸国ってなんなの???」人生の中で随所随所で、こういった疑問を抱いてきた。
<br><br>
なんでだろう。結局、どこか世界がスカンジナビアの諸国のことを、多くの分野で「理想の一つ」として祭り上げていることに関連しているんだと思う。幸せ度数でも、教育でも、住みやすい場所でも、社会福祉でも、NGOやニュース紙が行うランキングでは、必ずと言っていいほど北欧の国々がトップを占めている。同時に、「それら政策のすべては人口と経済が小さいから可能なこと」という人がいる。しかし、その人たちがIKEAのソファに座りながらH&amp;Mの服に身をつつみ、スマホを買う前まではNOKIAの携帯を使ってたのだから、本当にスカ
ンジナビアって面白い。
<br><br>
そこで、”World in Twelve”ではどの国を体験しようと思った時に、これまた難しく、MONOCLE誌はコペンハーゲンを世界一の都市としてランク付けしてたし、小学生のころの友達はフィンランド人だったし、ビョークやシガーロスを生んだアイスランドの音楽文化に興味あるし、ノルウェーでサンタクロースに会ってみたいとも思った。じゃあ、なぜストックホルムなのかというと、まあ、最も「統括的」だったから。スウェーデンはスカンジナビア諸国でもっとも大きく、ストックホルムはその首都である。スカンジナビアへの入門としては、一番理にかなっているのではないかと思って選んだ。
<br><br>
なお、今回の「コミ論」ではスカンジナビア諸国を一括りにして多くは語ってきたが、それぞれの国に独自のカルチャーがあることは重々理解している。(たとえばフィンランドは言語的にも歴史的にも、まったくほかの諸国と異なる)ただ、うまくまとめるためにこう書いたことをご了承いただきたい。絶対みんな行くからね!!
