#content {
  position: relative;
}

#about-sidebar {
  background-color: white;
  padding: 5px 0;
  text-align: center;
  width: 1015px;
  z-index: 99999;
}

#about-sidebar ul {
  list-style: none;
  letter-spacing: .1em;
  font-family: Futura, Arial;
}

#about-sidebar ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 0;
  position: relative;
}

#about-sidebar ul li span {
  position: relative;
}

#about-sidebar ul li span:after {
  background-color: #FC3838;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  width: 0;
}

#about-sidebar ul li:hover span:after,
#about-sidebar ul li.selected span:after {
  width: 100%;
}

#about-sidebar.floating {
  border-bottom: 2px dashed #FC3838;
  position: fixed;
  top: 0;
  width: 1015px;
}

#about-body {
  width: 1015px;
}

@media screen and (max-width: 1024px) {
  #about-sidebar {
    height: initial;
    position: initial;
    width: initial;
  }

  #about-sidebar.floating {
    width: 90%;
  }

  #about-sidebar ul li {
    display: inline-block;
    padding: 0 30px 0 0;
  }

  #about-body {
    padding-left: 0;
    width: 100%;
  }
}
