#city-perspective {
  margin-bottom: 25px;
  overflow: hidden;
}

#city-perspective img {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #city-perspective {
    margin-bottom: 0;
  }
}
