@import "article";
@import "constants";

.matrix-frame {
  min-height: 400px;
  position: relative;
}

.cross {
  position: absolute;
  /* :before is for the horizontal bar */
  &:before {
    background-color: $WXII_RED;
    content: "";
    height: 2px;
    position: absolute;
    top: 17px;
    width: 120px;
  }

  /* :after is for the verfical bar */
  &:after {
    background-color: $WXII_RED;
    content: "";
    height: 36px;
    position: absolute;
    width: 2px;
  }

  @media screen and (max-width: 756px) {
    &:before {
      width: 34px;
    }

    &:after {
      height: 34px;
    }
  }

}

.cross.left {
  left: 0;
}

.cross.left:after {
  left: 17px;
}

.cross.right {
  right: 120px;
  @media screen and (max-width: 756px) {
    right: 34px;
  }
}

.cross.right:after {
  left: 101px;
  @media screen and (max-width: 756px) {
    left: 15px;
  }
}

.cross.top {
  top: 0;
}

.cross.bottom {
  bottom: 0;
}

// Sets the color of the crosses with the color of each city.
@each $city, $color in $CITY_COLORS {
  .matrix-frame.#{$city} .cross:after,
  .matrix-frame.#{$city} .cross:before {
    background-color: $color;
  }
}

// City icon x project icon.
.cityxproject {

  position: absolute;
  text-align: center;
  top: -43px;
  width: 100%;

  .icon-block {

    display: inline-block;

    .icon {
      width: 100px;
    }
    .label {
      color: $WXII_GRAY;
      font-family: 'Futura', Arial;
      text-align: center;
    }
  }
  .x {
    font-size: 40px;
    margin: 0 10px;
    position: relative;
    top: -40px;
  }

  @media screen and (max-width: 756px) {
    & {
      top: -29px;
    }
    .icon-block .icon {
      width: 75px;
    }
    .x {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 756px) {
    & {
      top: -16px;
    }
    .icon-block {
      .icon {
        width: 45px;
      }
      .label {
        font-size: 12px;
      }
    }
    .x {
      top: -13px;
    }
  }
}

@each $city, $color in $CITY_COLORS {
  .matrix-frame.#{$city} .cityxproject .x {
    color: $color;
  }
}

.arrows {
  
  position: absolute;
  text-align: center;
  top: 75px;
  width: 100%;

  .arrow {
    display: inline-block;
    font-size: 35px;
    margin: 0 10px;
  }
  @each $city, $color in $CITY_COLORS {
    .arrow.#{$city} {
      color: $color;
    }
  }

  @media screen and (max-width: 756px) {
    top: 40px;

    .arrow {
      font-size: 30px;
    }
  }
}


.matrix-body {

  padding: 130px 50px 50px;

  article {
    color: $WXII_GRAY;
    position: relative;

    img {
      max-width: 100%;
    }

    .banner {
      width: 100%;
    }
  }

  article.hidden {
    display: none;
  }

  @media screen and (max-width: 756px) {
    & {
      padding: 100px 20px 40px;
    }
  }

  @media screen and (max-width: 400px) {
    & {
      padding: 90px 10px 30px;
    }
  }
}

.page-selector {

  a span {
    margin-right: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  img.icon {
    border-radius: 100px;
    margin: 0 5px;
    padding: 2px;
    position: relative;
    transition: .1s;
    width: 75px;

    &:hover {
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    }

    &.selected {
      background-color: $WXII_RED;
    }
  }

  @media screen and (max-width: 400px) {
    & {
      padding: 0;
    }

    img.icon {
      width: 40px;
    }
  }
}

article.musicians {
  .logo {
    max-height: 70px;
  }
  .jacket {
    width: 300px;
  }
}

article.whats-beauty {
  .block {
    min-height: 300px;

    img {
      width: 300px;
    }
    &.image-left {
      p {
        padding-left: 400px;
      }
    }
    &.image-right {
      p {
        padding-right: 400px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .block.image-left p,
    .block.image-right p {
      padding: 0;
    }
  }
}

article.treasure_box {
  .block {

    &.image-center {
      img {
        width: 500px;
      }
    }

    &.image-left {
      min-height: 300px;

      img {
        width: 300px;
      }
      p {
        padding-left: 400px;
      }
    }
    &.image-right {
      min-height: 300px;

      img {
        width: 300px;
      }
      p {
        padding-right: 400px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .block.image-left p,
    .block.image-right p {
      padding: 0;
    }
  }
}

article.micro_guide {
  .block {
    min-height: 550px;

    .title {
      margin: 0 0 15px;
    }

    img {
      width: 400px;
    }
    &.image-left {
      p {
        padding-left: 450px;
      }
    }
    &.image-right {
      p {
        padding-right: 450px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .block.image-left p,
    .block.image-right p {
      padding: 0;
    }
  }
}


article.twelve-questions {
  .name {
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
  }
  .photo {
    padding: 20px;
    text-align: center;
    img {
      /*border: 5px solid $WXII_RED;*/
      border-radius: 2px;
      width: 500px;
    }
  }
}

article.real-dates {
  .block {
    .youtube {
      box-sizing: border-box;
      display: block;
      height: 360px;
      margin: 0 auto;
      max-width: 100%;
      width: 640px;
    }
  }

  @media screen and (max-width: 640px) {
    .block {
      .youtube {
        height: 180px;
        width: 320px;
      }
    }
  }
}
