OK. I won’t make any excuses. This sub-project is more about me personally than about the <i>World in Twelve</i>. “Blind Cheap Kudos” was a musical project I was doing in my days in college, and it really has nothing to do with “expressing the city”, the core concept of the <i>World in Twelve</i>. I guess I could collaborate with local musicians, and that could sort of be an expression of the--what? I said I wasn’t going make any excuses?? I already have a project based on local musicians??? How about I be more of a man and back up the words I spew????
<br><br>
 Yes, yes, I’m sorry, you’re right. You’re always right. (Runs out of room.)
<br><br>
<div id="project-details">
 Goal: To compose one song in each city through my musical project “Blind Cheap Kudos”. The whole point is to see what I can create with limited gear (I can’t bring my studio with me), and see what comes out of collaborating with local musicians and designers. Sounds pretty cool huh, when put like that. 
<br><br>
  After my year, I will create an album with all the songs. I will sell the artwork as posters. I will pretend to be a self-sustaining musician. I’m good at pretending. :)
</div>
<br>
Hey, I should be able to use one sub-project for myself, right? Right…? (Runs out of room again)
<br><br>
PS: If you have the time, check out past works at: <a target="_blank" href="https://soundcloud.com/blind-cheap-kudos">https://soundcloud.com/blind-cheap-kudos</a> 