After coming up with <i>Dates pt.1</i>, both Yamato (who I named producer of this project) and I were ecstatic. What kind of beautiful people would we meet? Where would they take us? Our fantasies were boundary-less, nothing could stop our imagination, until we realized one, very important, harrowing truth that crashed us back down to earth.<br><br>
<em>Holy bamboozle, <i>Dates pt.1</i> ain’t reflecting “daily life” one bit.</em>
<br><br>
Yes, having a girl show us around the city and the places she likes is a form of “expressing the city”, however, every other aspect of the sub-project hardly resembled the “daily life” aspect.<br>
　First of all, the girl is talking into a camera, which in some cases might be a GoPro strapped on the head of her “boyfriend”. Yeah, <i>that</i> happens every time you go out shopping. Then, neither member of the date may share a common native language, so communication could be suspect. Lastly, there’s the fact that the date is actually a project, which, well, basically doesn’t make it a real date.<br>
So we thought to ourselves. What should we do? How can we express the “daily life” aspect of dating?? After a little bit of brain-storming and a few awkward stares from the people sitting next to us at Starbucks, this is what we came up with. <br><br>
<div id="project-details">
Goal: To express the city through footage of actual couples living their daily lives. This is done through the social networking serivice Vine.<br><br>

>>Basic shots are taken of the boyfriend/girlfriend taking each other. Couple selfies are ok, but it must be evident that either one of the couple is holding the camera.<br>
>>The couple has 12 days to take their Vines<br>
>>Since they are Vines, each video is a maximum of 6 seconds. <br>
>>After the 12 days, the couple chooses 12 of their favorite shots. Obviously, if there’s a shot that either one doesn’t like, they don’t have to send them. (It’s important to note that these videos will be appearing on the internet. Just making sure.)<br>
>>The videos will be combined to make one 12 cut vid of that couple. <br>
</div>
<br>
This will be a sub-project using social networking where anyone can participate. Sounds very 2015, right?
