This project is pretty self-explanatory. We will be going on dates with people on various cities. See, with the overall theme of The World in Twelve being “expressing that city” and “experiencing daily life”, how could I leave out love? Love is at the basis of much of the art we see today. Love has been experienced by every prominent and famous historical figure. Love is a universal theme shared by all ages, sexes, nationalities, and people. How could I leave out love??
<br><br>
…aaaaaand I’m full of bullshit. I’m not going to lie, I’ll be honest, I just want to meet pretty people in all the cities I visit. I’m sorry. Plus, pretty girls are buzz-worthy. Yeah, so I admit I had many secret intentions, all of them superficial, fake, and phony. I’m becoming exactly what I didn’t want to become when I was idolizing Holden Caulfield in sophomore year of high school.
<br><br>
But let me make an excuse. See, you like pretty girls too, right? Guys like pretty girls. Girls like pretty girls. Everybody likes pretty girls. So this isn’t really just about me, or the members helping out my project. It’s for everyone. It’s philanthropy. Benevolence. A gift for all of mankind…
<br><br>
OK I’ll shut up now. 
<br><br>
Anyway, details are below.
<br><br>
<div id="project-details">
Goal: To have a girl show viewers around the city, to the spots she would love to go on a date. Footage will be shot as if the viewers are going on a date themselves. If there are activities that can be done at the particular spots, the viewers will “experience” them with the girl.
<br>
The setting for the date is, the girl is from that city, and the viewer is an exchange student who just arrived at that city a couple of weeks ago. The viewer doesn’t know his way around the city yet, so the girl will be his guide. 
<br>
There will be four girls in each city, and they will introduce 3 places each. 4 girls x 3 places = 12 places. Get it, 12? (Yeah I know I’m pushing it...)）</div>
<br>
So that’s it. Let’s see where these girls will take us!! 
