This was the final sub-project chosen. See, I was waiting. Waiting for a revelation.  Some sort of inspiration where, the instant it arrived, I would know. The world would know. All five of my senses would wake. I would be in a different dimension. The seas would part, and the earth would shatter. There would be no more quarreling, no more fighting, no more war. The world would be one. That’s the scale I wanted to conduct for my final sub-project, and I was waiting for the inspiration. Conclusion: it never came. I was a mere mortal.
<br><br>
So instead, I decided make a marketplace. I will admit there is a little bit of an “eBay”-ness to it, and a little bit of an “Etsy”-ness to it, but yeah, I wanted to do a project revolving around the concept of money. This was a common idea shared by many of my friends and peers after reading the initial proposal for the <i>World in Twelve</i>.  According to them, if the sub-projects revolve around daily life, money had to be a topic of investigation. After all, most of our waking moments we are working, and we are working for money. Without it, we fail. Society fails. This was an argument I agreed with wholeheartedly. The one problem was, realistically speaking, finding a job wasn’t an option. I could have, say, worked one day at a retail store as a test employee in all 12 cities (which would be kinda cool, actually) but thinking of my time constraints and all the hoops I would have to jump through to make it possible, it just didn’t seem practical. 
<br><br>
So instead, I decided to do business the old fashioned way. Using the proverb “One man’s trash is another man’s treasure” as my core principle, I would make an online marketplace. Below are the details. 
<br><br>
<div id="project-details">
 Goal: To make some pocket change by doing some business online.
  <br><br>
  ①Have people I meet give me stuff that they “believe still has value, but don’t use or need anymore”. There aren’t any conditions for the stuff, but it shouldn’t be too big.<br>
  ②I will take a picture of the stuff, and post it on the marketplace page. The base price for most things will be US$12, but will be listed accordingly.  <br>
  ③If the stuff is bought during my stay, it will be shipped from that city. If stuff is left over, it will be shipped to Japan, and then reshipped once it is purchased. (I don't want to make frequent stops to the post office, so all items will be shipped at the end of the month)<br>
  ④A percentage of the profit will go to the charity of the previous owner’s choice. The rest will go to the funding of the <i>World in Twelve</i>.</div>
<br>
Buy, sell. Sell, buy. The <i>World in Twelve</i> now joins a part of this capitalistic society.
 
 
