This was the final sub-project chosen. See, I was waiting. Waiting for a revelation.  Some sort of inspiration where, the instant it arrived, I would know. The world would know. All five of my senses would wake. I would be in a different dimension. The seas would part, and the earth would shatter. There would be no more quarreling, no more fighting, no more war. The world would be one. That’s the scale I wanted to conduct for my final sub-project, and I was waiting for the inspiration. Conclusion: it never came. I was a mere mortal.
<br><br>
So instead, I decided make a marketplace. This market was originally planned revolve around the concept of the proverb “One man’s trash is another man’s treasure”, where I would be gathering stuff with some value (but unneeded for that person), and selling it online. Even that failed when we realized that Leo would have to haul around all the stuff that didn't sell in that city, which was just plain unrealistic. 
<br><br>
So, in the end, we'll just be selling stuff online. Yeah, like, T-shirts. Boy do I feel mortal. But ideally they will be designed from people in each city. 
<br><br>
<div id="project-details">
 Goal: To sell souvenir items of the <i>World in Twelve</i> 
  <br><br>
  ①Try and meet designers or people in the fashion industry to design a T-shirt for the <i>World in Twelve</i>.<br>
  ②All profits will be returned to the designer</div>
<br>
Buy, sell. Sell, buy. Eh, the <i>World in Twelve</i> now joins a part of this capitalistic society.
 
 
