I was discussing the sub-projects of the <i>World in Twelve</i> with my friend Yuma when we came up with this idea. Yuma was saying that he wanted some sort of guidebook; after all I was going to be living in each city for a month, right? I was going to find a lot of cool stuff, right??  I had always had the feeling, these guidebooks with all the same restaurants and tourist attractions were all basically the same book with a different cover, and all pretty boring. So we decided, let’s make a guidebook ourselves!! And so the Micro Guidebook was born.
<br><br>
So what’s the difference between the Micro Guidebook and its predecessors? The Micro Guidebook only lists information that’s waaaay too niche to be of much use on a casual vacation. It’s basically trivia: if you can use any of it practically, congratulate yourself. You’ve done wonders.
<br><br>
So, next time you head out on your life changing journey, use your instincts 90%, favorite guidebook 9%, and the Micro Guidebook 1% and your time spent should be nothing short of epic. 
<br><br>
<div id="project-details">
Goal: To create a guidebook filled with miscellaneous trivial information.<br><br>

  <font class="underline">There are 12 genres.</font><br>
  ①Gestures	　　　　　　　　　⑦Famous Figures<br>
  ②Slang　　　　　　　　　　　⑧Little Known Areas<br>
  ③Proverbs/Sayings　　　　　⑨Dead Lingo<br>
  ④Little Known Places　　　　⑩Meeting Places<br>
  ⑤Weird Ingredients　　　　　⑪Special Foods<br>
  ⑥Special Terminology　　　　⑫Secret Bases<br><br>

 I will be gathering information from basically everyone I meet. Then I will create illustrations before uploading them on the site. It would be cool if I could create an actual tangible guidebook too. 
</div>
<br>
I can see it. In 20 years, everyone will have one of these Micro Guidebooks in their back pockets. And doughnuts will be healthy for you.  
