The first sub-project I came up with. Since I ran a recording studio for college students during my days at university in Japan, it was only natural for me to think “I want to meet aspiring bands and musicians from all over the world!” The actual sub-project itself is very simple—asking bands and artists for songs they believe express the city they live in—but there is more to this project then just that. (Or at least I’m hoping)
<br><br>
So what am I aiming at? <font class="underline">The answer: a place where bands and musicians born in different countries but in the same era have a chance to listen to each other’s music. </font>、To which I can imagine the majority of the people reading this thinking “Yeah, but can’t they already do that? Via Bandcamp? Or Soundcloud? Or even YouTube??” To which I have the counterargument “Yeah, of course the technology exists, but do people really ever listen to music from other countries in their daily lives?” It’s tough enough following your own countries’ indie scene, no one really goes out of their way to check out young artists from Istanbul or Stockholm.
<br><br>
But through The World in Twelve, bands and musicians will start listening. Why? Because people from other countries are listening to their music. It’s a give and take relationship. The way the “World in Twelve” is structured, since there will always be a new city the next month, people from the new city will listen to artists from previous cities, and vice versa. (Or at least I’m hoping)
<br><br>
Anyway, below are the details.
<br><br>
<div id="project-details">
I will be meeting bands and musicians from each city, and will have them provide me with a song of theirs that I can post on this site. About the songs:
<br><br>
>>The only real “condition” for choosing a song is, “it has to be an expression of the city the artist lives in.” I must admit this is a very vague condition, but I don’t want to be too strict. I want to leave most everything up to the imagination of the artist.<br>
>>The song can be of any genre<br>
>>The song can be of any recording format<br><br>

After I get 12 songs, I will go through the process below.<br>
①Post the music files and profiles of the artists on this site.<br>
②Remaster each song. (Just the levels)<br>
③Create a compilation CD.<br>
④Make it available on iTunes. And maybe make a tangible CD version if possible available via Marketplace.
<br><br>
*All profit made from the music will be distributed evenly to each artist.
</div>
<br>
Let’s see how the indie scene in each city differs. Should be fun!!
