Putting it simply, in this subproject, I go around searching for and recording sounds I hear daily, make samples of them, layer and arrange them, and make a soundscape of the city. The original idea comes from the artist <a target="_blank" href="http://en.wikipedia.org/wiki/Matmos">Matmos</a>, whom I first encountered in a class at NYU. I believe the album being brought up at the time was <i>A Chance to Cut is a Chance to Cure</i>, and I remember thinking to myself, “What? They put up microphones in an operating room and took sounds from an actual surgery and turned them into samples? That’s so f***ing AWESOME!!!!”
<br><br>
So yes, I might not be as intellectual or talented as Matmos, but I’ll try my best. I’ll try making my soundscapes a little more pop and alternative too. And when you think about it, I’m going to be expressing the city through its sounds, which reflects the main concept of the “World in Twelve” perfectly. Details are below.
<br>
<div id="project-details">
 Goal: I will go around searching for and recording sounds I hear daily, make samples of them, layer and arrange them, and make a soundscape of the city.<br><br>

>>Samples should come from sounds I hear naturally while living my daily life.<br>
>>However, if I believe it’s an “expression of the city” I can intentionally create sounds and sample them. (ex: playing a local instrument, hitting silverware on china, etc)<br>
>>Recording street musicians is ok<br>
>>Having people sing is ok<br><br>

In the end I will create one soundscape album.
</div>
<br>
 I do have the suspicion “Don’t all big cities basically sound the same?” but who knows? There’s only one way to find out.
<br><br>
*P.S. I got the comment, “wouldn’t it be fun to guess where you got all the sounds from?” from a friend, and I agree, so I will be making a list of answers at some point too. 
