The original idea for this sub-project came from my friend Aimi when I showed her the proposal for the <i>World in Twelve</i>. She looked at my sub-projects and said to me, “why are you focusing on stuff that already has value? Why not focus on stuff that at the present moment has no value, but through this project, could gain it?”
<br><br>
She was pointing at a project where I would go to used bookstores and try to find obscure books. According to her, books, having been through the processes of publishing, distribution, and retail, have already gained a numerical value. Why not focus on the things surrounding you, that at a glance seems worthless, but seen in a different light, could become valuable?
<br><br>
<em>Holy crap she was right.</em>
<br><br>
There was nothing I could say. It felt like I was struck by lightning. What she had just said seemed so much cooler, so much more creative, I felt embarrassed. My ears were turning red.
<br><br>
But I brought myself back up and created the Treasure Box Battle. Below are the details.
<div id="project-details">
Goal: In this project, each member of a group makes his/her own Treasure Box, and engages in a friendly competition.<br><br>

Each member must follow the below rules when creating their Treasure Box.<br>
>>There must be 12 Treasures<br>
>>Each Treasure must be an “expression” of the city<br>
>>Each Treasure must be able to fit in the Box. However, symbols or representations are allowed (ex: you can use a toy boat to represent a real boat.)<br><br>

On the day of the competition, each member brings their Treasure Box.<br>
①Each round, each member presents one treasure they brought. Then they explain why they chose that item as a treasure.<br>
②After each member presents in that round, each member votes for a treasure other than their own. The criteria for voting are “Which treasure best expressed the city they’re living in, is original and thought provoking?”. <br>
③The member who brought the treasure with the most votes gets 1 point each round. It there is a tie, each member gets 1 point each.<br>
④5 rounds take place, and the member with the most points at the end wins the “treasure battle.”<br><br>

Other Rules<br>
>>If there is a tie after 5 rounds, a 6th round is taken place, . Extra rounds take place until a winner is decided.<br>
>>If all members agree, a round 0 can be taken place, where members vote on the Treasure box itself.<br>
>>The members choose the winning prize beforehand.</div>
<br>
The game itself feels like a game show done by Japanese public broadcasting (NHK) but it should be fun!
