This sub-project was originally my friend Garrett’s idea. According to him, if I were going to go around the world, it was necessary that I asked common questions to people I meet, and take a peek into their thoughts and lives. I agreed with him. The only problem was, this kind of project was already being conducted by so many different people and groups (with Humans of New York being the prominent example, although there are quite a few major differences in this sub-project), and I knew it would be difficult to be original and stand out. However, the concept that Garrett brought up fit perfectly in line with the overall goal of the “World in Twelve”, and the simplicity of it was really appealing (when you have 12 sub-projects, you want most of them to be simple), so I was like, “what the hell, let’s do this thang!!”
<br><br>
So we came up with the “12 Questions”. As I said, this sub-project is very simple: I will be asking 12 common questions to the people I meet in each city. As for coming up with the questions, Leo did Leo things, which was, asking for ideas from friends and family. And being a lucky boy blessed with wonderful friends, I got many questions from many people. THANK YOU EVERYONE!!! <br><br>
<div id="project-details">
  Goal: To ask 12 common questions to 12 people from each city, and take a look at their thoughts, insights, and daily lives. <br><br>

 >>The Questions<font style="color:red;">（*IMPORTANT!!! If you are being asked to/want to participate in this sub-project, please do not read the questions below）</font><br> 
    1.If you were handed US$2500 and received a one month vacation where you could live in one city, anywhere in the world, where would you choose? What would you do?  <br>      
    2.Could you sing us a nursery song from your country, city or region?<br>
    3.Please tell me the images you have for the following words. “The Sun” “The Ocean” “Night” "Death" <br>
    4.What country do you feel “close” to, other than your own?<br>          
    5.What do you feel about the future? Both of your own future, and the future of mankind. <br>  
    6.What do you look for in a partner?<br>    
    7.What one place and/or thing best represents your city?<br>
    8.What is the most important “thing” for you?<br>
    9.If you could redesign your country’s flag, how would you do it?<br>
    10.Do you want to get married? Do you want children? What do you want to do with them? How do you want them to grow up? <br>
    11.What was the happiest moment in your life? What was the most frightening moment in your life? <br>
    12.What is your dream? And what are you doing to fulfill it?<br>
    Candidate Q：What was your childhood dream? What would you say to the childhood you, now?<br>
    Candidate Q：What would be the ideal thing to see the first moment you wake up? What would be the ideal thing to see the moment before you fall asleep? <br>
    （Candidate questions are ones I asked in Tokyo. If some seem better than the 12, they may be replaced）<br><br>

    >> I will conduct the interviews at places in the city where the interviewees feel like it best represents them, or they can be themselves. <br><br>

    >>Interviewees will be chosen through friends of friends, and the age range will be ±6 years from 26 (my age).<br><br>

    >>However there will be cases where I will conduct the 12 questions on people who don’t fit the above criteria. Some examples could be grandparents in the “cooking” sub-project, or famous or interesting people that I just happen to meet. In those cases, the 12 questions will appear outside of the official sub-project page. <br><br>

    >>There is no time for the overall sub-project or each individual question.<br><br></div>
<br>
   144 people, 144 different lives. I'm excited already!! 
