Originally, we were planning on doing some live broadcasting, but in conclusion, the question "Wait, this would be broadcasted live to whom? It could be 4 a.m. in Tokyo right now..." made the sub-project obsolete. Then there was the fact that Leo wanted to make a few of the sub-projects more interactive (because hopefully there will be an exhibition of the <i>World in Twelve</i> after he returns!), and we all came up with this: Twelve x Twelve. 
<br><br>
Basically, its very simple. You cross "12 counters" of something with "12 counters" of something else, and try executing your idea. It's also very trial and error friendly, where I can cut boring ideas and come up with new ones in each city. 
<br><br>
I bet it all stil makes no sense so I'll give some examples below. 
<br><br>
<div id="project-details">
A simple project where the conductor crosses "12 counters" of something with "12 counters" of something else, and execute your idea. Examples are...
<br><br>
◇Give a "12 year old" "12 colored pencils" and have him/her draw her image of her city. 
<br><br>
◇Go to a bookstore, choose "12 books" in "12 minutes", and have the owner or staff recommend which one to buy.  
<br><br>
◇Go "12 stops" from the closest bus stop or train station, walk towards the closest park, and take pictures of the first "12 animals" I see.
<br><br>
But as I said above, these are all just ideas. We'll see what happens.  
</div>
<br>
So if anyone has any cool <i>Twelve x Twelve</i> ideas, let your voice be heard!! 