This project used to be called "Dates pt.1" where the plan was I would be going on dates with various pretty people in each city. Yeah it was pretty creepy sounding, and yeah I was bullshitting about how it was all about the continent transcending universal theme of "love" (haha. not.), but in the end we realized that footage of me walking around with pretty people with a GoPro on my head really wasn't that exciting and actually kind of disturbing. Thank goodness. 
<br><br>
ALso, because we are trying to do an actual real world, tangible exhibition once I get back to Japan in a year, we wanted to make some of the sub-projects more interactive and social. Something that gets the viewer or reader thinking a little bit. 
<br><br>
So we came up with the "What is Beauty...?" sub-project. Details are below. 
<br><br>
<div id="project-details">
I will be asking the people I meet the following questions.
<br><br>
◇What is your definition of "beauty"? 
<br><br>
◇Where is a beautiful place in your city? If there is a special situation (snowing, sunset, ect.) please be specific!!<br><br>
◇Please introduce a person that you consider beautiful. Please tell us why you chose that person!<br>
<br><br>
We will get two pictures from the person, one she/he likes of her/himself, and one common pose. 
<br><br>
We will ask the same questions to the person the previous person introduced. 
</div>
<br>
The one non-phony thing I <i>did</i> say in the intro to the Dates pt.1 project was that, beauty is a universal theme that lives in every culture. Lets see if there are any differences. 
