This project is pretty self-explanatory. We will be going on dates with people in various cities. See, with the overall theme of the <i>World in Twelve</i> being “expressing that city” and “experiencing daily life”, how could I leave out love? Love is at the basis of much of the art we see today. Love has been experienced by every prominent and famous historical figure. Love is a universal theme shared by all ages, sexes, nationalities, and people. How could I leave out love??
<br><br>
…aaaaaand I’m full of bullshit. I’m not going to lie, I’ll be honest, I just want to meet pretty people in all the cities I visit. I’m sorry. Plus, pretty girls are buzz-worthy. Yeah, so I admit I had many secret intentions, all of them superficial, fake, and phony. I’m becoming exactly what I didn’t want to become when I was idolizing Holden Caulfield in sophomore year of high school.
<br><br>
But let me make an excuse. See, you like pretty girls too, right? Guys like pretty girls. Girls like pretty girls. Everybody likes pretty girls. So this isn’t really just about me, or the members helping out my project. It’s for everyone. It’s philanthropy. Benevolence. A gift for all of mankind…
<br><br>
OK I’ll shut up now. 
<br><br>
Anyway, details are below.
<br><br>
<div id="project-details">
Goal: To have a girl show viewers around the city, to the spots she would love to go on a date. The girl chooses 3 spots for the date, between shops and restaurants. She will be handed 12 dollars/euros/applicable currency for each spot. She can obvously shop for herself, but also must buy a present for the viewers of the site using the money. There really aren't any criteria for choosing the spots, other than places which the girl thinks is unique to the city, and has personal meaning for herself. 
<br><br>
There will be 4 girls for each city. 4 girls × 3 spots = 12 places...(I know I'm pushing it)
<br><br>
The winner of the presents will be chosen in the same manner as the presents for the <a target="_blank" href="http://www.worldintwelve.com/en/about/rules">Rules</a>. 
</div>
<br>
So that’s it. Let’s see where these girls will take us!! 
