<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/images/logo_mini.png">
<link rel="stylesheet" href="/styles/base.css" />
<title>The World in Twelve</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script
src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<div id="wrapper">
  <div id="menu">
    <div id="navigation">
      <ul>
        <a href="/{{lang}}/"><li class="logo"><span>Home</span></li></a>
        <a href="/{{lang}}/about"><li class="item"><span>About</span></li></a>
        <a href="/{{lang}}/cities"><li class="item"><span>Cities</span></li></a>
        <a href="/{{lang}}/projects"><li class="item"><span>Projects</span></li></a>
        <a href="/{{lang}}/matrix/sanfrancisco_x_musicians"><li
        class="item"><span>Matrix</span></li></a>
        <a href="http://ja.blog.worldintwelve.com/latest-post"><li class="item"><span>Blog</span></li></a>
        <a href="/{{lang}}/sponsors"><li class="item"><span>Sponsors</span></li></a>
        <a href="/{{lang}}/test_city_tokyo"><li class="item test-city"><span>TEST CITY:Tokyo</span></li></a>
        <li class="lang">
          <a href="/en/"><span {% if lang == 'en' %}
            class="selected"
          {% endif %}>EN</span></a>&nbsp;/&nbsp;<a href="/ja/"><span {% if lang == 'ja' %}
            class="selected"
          {% endif %}>JA</span></a>
        </li>
      </ul>
    </div>
    <div id="topbar">
      <a anchor="wxii" href="/"><div class="logo"></div></a>
      <div id="toggle"></div>
    </div>
    {% if breadcrumbs %}
    <div id="breadcrumb">
      <a href="/{{lang}}/">Wxii</a>
      {% for b in breadcrumbs %}
      <span class="separator">&gt;</span><a
      href="/{{lang}}/{{b.href}}">{{b.label|replace("_", " ")|title}}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <script>
    var menu = document.getElementById('menu');
    var items = menu.getElementsByTagName('li');
    for (var i = 1; i < items.length - 1; i++) {
      var item = items[i];
      var a = item.parentNode;
      if (location.href.match(new RegExp(a.href))) {
        item.classList.add('selected');
      }
    }

    var toggleBtn = document.getElementById('toggle');
    toggleBtn.addEventListener('click', function() {
      menu.classList.toggle('expanded');
    });
  </script>

  {% autoescape false %}
  <div id="content">{{content}}</div>
  {% endautoescape %}

  <div id="footer">
    <div class="left">
      <div id="contact" class="footer-block">
        <a href="/tac"><img src="/images/icon_condition.png" />Terms &amp; Conditions</a> | 
        <a href="mailto:contact@worldintwelve.com"><img src="/images/icon_contact.png" />Contact</a>
      </div>
    </div>
    <div class="right">
      <div id="social" class="footer-block">
        <a href="https://twitter.com/worldintwelve" target="_blank"><img src="/images/icon_twitter.png"></a>
        <a href="https://www.facebook.com/worldintwelve" target="_blank"><img src="/images/icon_facebook.png"></a>
        <a href="http://jp.pinterest.com/worldintwelve/" target="_blank"><img src="/images/icon_pinterest.png"></a>
        <a href="" target="_blank"><img src="/images/icon_rss.png"></a>
      </div>
      <div id="copyright" class="footer-block">&copy;2015,wxii. All Rights Reserved.</div>
    </div>
  </div>
</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-55827007-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
