<link rel="stylesheet" href="styles/calendar.css" />

<div>
   <div class="calendar">
     <table>
       <thead>
         <tr><td colspan="7">July in Melbourne</td></tr>
       </thead>
       <tbody>
       <tr><td class="selected">1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
       <tr><td>1</td><td>1</td><td>10</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
       <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
       <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
       <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
       </tbody>
     </table>
     <div class="calendar-footer">
       <span class="calendar-prev"><a>&lt; June</a></span>
       <span class="calendar-next"><a>August &gt;</a></span>
     </div>
   </div>
</div>
