<link rel="stylesheet" href="/styles/top.css" />

<div id="map">
  <img id="world" src="images/map_red.png">
  <img id="plane" src="images/vehicles/plane.png">
  <img id="ship" src="images/vehicles/ship.png">
  <img id="satellite" src="images/vehicles/satellite.png">

  {% for city in cities %} 
  <div id="{{city.id}}" class="pin-container">
    <a alt="{{city.label}}" href="/cities/{{city.id}}">
      <div class="pin">
        <div class="point">
          <img src="/images/cities/{{city.id}}_white.png">
          <div class="city">
            <span>{{city.label}}</span>
          </div>
        </div>
        <div class="bar"></div>
      </div>
    </a>
  </div>
  {% endfor %}
</script>
