<link rel="stylesheet" href="/styles/top.css" />

<div id="map">
  <img id="world" src="/images/map_red.png">

  {% for city in cities %} 
  <div id="{{city.id}}" class="pin-container">
    <a alt="{{city.label}}" {% if city.id == "tokyo" %}href="/{{lang}}/test_city_tokyo"{% else %}href="/{{lang}}/cities/{{city.id}}"{% endif %}>
      <div class="pin">
        <div class="point">
          <img src="/images/cities/{{city.id}}_white.png">
          <div class="city">
            <span>{{city.label}}</span>
          </div>
        </div>
        <div class="bar"></div>
      </div>
    </a>
  </div>
  {% endfor %}
  <div id="vehicles">
    <div id="ufo" class="vehicle">
      <div class="balloon">
        <p>{% if lang == 'en' %}Welcome to the World in Twelve!! Leo is currently in Tokyo!!{% else %}”World in Twelve”へようこそ！いま現在、東京にいるよ！{% endif %}</p>
      </div>
      <img src="/images/vehicles/ufo.png">
    </div>
    <div id="ship" class="vehicle">
      <div class="balloon">
        <p><a href="https://www.facebook.com/worldintwelve" target="_blank"><span id="facebooklikes">...</span></a></p>
        <p>Facebook Likes</p>
      </div>
      <img src="/images/vehicles/ship.png">
    </div>
    <div id="plane" class="vehicle">
      <div class="balloon">
        <p><span id="numofpeople">20</span></p>
        {% if lang == 'en' %}
        <p>awsome people have helped !!</p>
        {% else %}
        <p>のイケてる人たちが参加してくれました !!</p>
        {% endif %}
        </p>
      </div>
      <img src="/images/vehicles/plane.png">
    </div>
    <div id="submarine" class="vehicle">
      <div class="balloon">
        {% if lang == 'ja' %}<p>出発まであと、</p>{% endif %}
        <p><span id="days"></span>{% if lang == 'en' %}&nbsp;days{% else %}&nbsp;日{% endif %}</p>
        {% if lang == 'en' %}<p>until departure</p>{% endif %}
        </p>
      </div>
      <img src="/images/vehicles/submarine.png">
      <img id="wave" src="/images/vehicles/wave.png">
    </div>
  </div>
</div>
<script>
  var cities_ = "{% for city in cities %}_{{city.id}}{% endfor %}";
  var cities = cities_.split("_").slice(1);
  var i = 0;
  setInterval(function() {
    var element = document.getElementById(cities[i]);
    element.classList.add('selected');
    setTimeout(function() {
      element.classList.remove('selected');
    }, 2000);
    i = (i == cities.length - 1) ? 0 : i + 1;
  }, 5000);

  var facebookCallback = function(data) {
    var span = document.getElementById('facebooklikes');
    span.innerHTML = data.likes;
  };

  var days = document.getElementById('days');
  days.innerHTML = parseInt(((new Date()).getTime() - 1420038000000)*(-1) / (24*60*60*1000));
</script>
<script src="http://graph.facebook.com/worldintwelve/?callback=facebookCallback"></script>
