<link rel="stylesheet" href="/styles/top.css" />

<div id="map">
  <img id="world" src="/images/map_red.png">
  <div id="vehicles">
    <img id="ship" class="vehicle" src="/images/vehicles/ship.png">
    <img id="plane" class="vehicle" src="/images/vehicles/plane.png">
    <img id="ufo" class="vehicle" src="/images/vehicles/ufo.png">
    <img id="submarine" class="vehicle" src="/images/vehicles/submarine.png">
  </div>

  {% for city in cities %} 
  <div id="{{city.id}}" class="pin-container">
    <a alt="{{city.label}}"
      {% if city.id == "tokyo" %}
        href="/{{lang}}/test_city_tokyo"
      {% else %}
        href="/{{lang}}/cities/{{city.id}}"
      {% endif %}
    >
      <div class="pin">
        <div class="point">
          <img src="/images/cities/{{city.id}}_white.png">
          <div class="city">
            <span>{{city.label}}</span>
          </div>
        </div>
        <div class="bar"></div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
