img.pre-load {
  display: none;
}

.image-list {
  margin-bottom: 25px;
  text-align: center;
}

.image-list.top {
  margin-bottom: 0;
  margin-top: 25px;
}

.image-list .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  display: inline-block;
  height: 80px;
  position: relative;
  width: 80px;
}

.image-list.top .item {
  background-size: 200px;
  height: 200px;
  margin-bottom: 30px;
  width: 250px;
}

.image-list .item .label {
  display: none;
}

.image-list.top .item .label {
  bottom: -25px;
  color: #B4B4B4;
  display: block;
  font-family: Futura, Arial;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .image-list .item {
    width: 15%;
  }
}

@media screen and (max-width: 480px) {
  .image-list .item {
    width: 23%;
  }
}
